<div class="modal auth-modals " id="jsAuth3">
    <div class="modal__inner">
        <div class="modal__content">

            @include('../../components/modal-close.html')


            <div class="modal__overhead">
                Авторизация
            </div>
            
            <div class="form-wrapper">


                <div class="form-text">
                    Вы давно не заходили на сайт.  Укажите свои имя и фамилию, чтобы мы смогли вас узнать.
                </div>
    
                <form action="" class="form form-validate active" >
                    
                    <div class="input-row">
                        <div class="input-group">
                            <label>Имя</label>
                            <input type="tel" class="input" placeholder="Введите имя">
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input-group">
                            <label>Фамилия</label>
                            <input type="tel" class="input" placeholder="Введите фамилию">
                        </div>
                    </div>

                    <div class="form-footer">
                        <button class="button">Войти</button>
                        <a href="" class="form-link">Я новый пользователь</a>
                    </div>

                    <div class="form-alert">
                        Нажимая кнопку «Войти», вы соглашаетесь c условиями <span class="red">политики конфиденциальности</span> 
                    </div>
                </form>
               
    
            </div>

          

        </div>
    </div>
</div>