<div class="modal auth-modals " id="notFoundModal">
    <div class="modal__inner">
        <div class="modal__content">

            @include('../../components/modal-close.html')


            
            <div class="not-found">
                <svg>
                    <use xlink:href='/img/sprite-new.svg#sad-smile'></use>
                </svg>
                <h5 class="not-found__title">
                    К сожалению, пользователь не найден. 
                </h5>
                <p class="not-found__text">
                    Вы можете создать нового пользователя  <br>
                    или связаться с нашим менеджером.
                </p>
                <button class="button">Создать нового пользователя</button>

                <a href="" class="not-found__link">Связаться с менеджером</a>
            </div>

          

        </div>
    </div>
</div>