<div class="modal auth-modals " id="passwordPopup3">
    <div class="modal__inner">
        <div class="modal__content">

            @include('../../components/modal-close.html')


            <div class="modal__overhead">
                Восстановление пароля
            </div>
            
            <div class="form-wrapper">


            
    
                <form action="" class="form form-validate active" >
                    
                    <div class="input-row">
                        <div class="input-group">
                            <label>Пароль *</label>
                            <div class="input-wrap">
                                <input type="password" class="input input-md" placeholder="">
                                <button class="show-password">
                                    <svg>
                                        <use xlink:href='/img/sprite-new.svg#eye_close'></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="input-hint">Минимальная длина 5 символов</div>
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input-group">
                            <label>Повторите пароль *</label>
                            <div class="input-wrap">
                                <input type="password" class="input input-md" placeholder="">
                                <button class="show-password">
                                    <svg>
                                        <use xlink:href='/img/sprite-new.svg#eye_close'></use>
                                    </svg>
                                </button>
                            </div>
                            
                        </div>
                    </div>

                    <div class="form-footer">
                        <button class="button button--lg">Изменить пароль</button>
                    </div>

                   
                </form>
               
    
            </div>

          

        </div>
    </div>
</div>