<div class="modal state-form state-form--auth" id="passwordChanged">

	<button class="modal__close dropdown__close jsCloseStateForm">
        <span class="dropdown__close-icon --svg__close"></span>
    </button>


	<svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
		<use xlink:href='/img/sprite-new.svg#state-success2'></use>
	</svg>



	<div class="state-title">
		Пароль успешно изменен
	</div>

    <a class="button state-link--red">
        Перейти ко входу
    </a>


	<button class="mobile-btn jsCloseStateForm">
		Закрыть
	</button>

</div>
<div class="js-state-form-back"></div>