<div class="modal auth-modals " id="passwordPopup2">
    <div class="modal__inner">
        <div class="modal__content">

            @include('../../components/modal-close.html')


            <div class="modal__overhead">
                Восстановление пароля
            </div>
            
            <div class="form-wrapper">


    
                <form action="" class="form form-validate active" >
                    
                    <div class="input-row">
                        <div class="input-group">
                            <label>Телефон *</label>
                            <div class="input-wrap">
                                <input type="tel" class="input input-md" placeholder="+7 (000) 000-00-00">
                                <button class="write">
                                    <svg>
                                        <use xlink:href='/img/sprite-new.svg#write'></use>
                                    </svg>
                                </button>
                                <button class="button">получить код</button>
                            </div>
                           
                            <p class="input-hint">На указанный номер телефона придёт сообщение с коротким кодом</p>
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input-group">
                            <label>Код из SMS *</label>
                            <div class="input-wrap">
                                <input type="password" class="input input-md" placeholder="">
                                <button class="show-password">
                                    <svg>
                                        <use xlink:href='/img/sprite-new.svg#eye_close'></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="input-hint">
                                Повторная отправка через 01:55
                            </div>
                        </div>
                    </div>

                    <div class="form-footer">
                        <button class="button button--lg">Задать новый пароль</button>
                    </div>

                  
                </form>
               
    
            </div>

          

        </div>
    </div>
</div>