<div class="modal auth-modals auth-modals--register " id="register2">
    <div class="modal__inner">
        <div class="modal__content">

            @include('../../components/modal-close.html')


            <div class="modal__overhead">
                Регистрация
            </div>
            
            <div class="form-wrapper">
               
                <div class="form-text">
                    Пользователь с таким номером телефона уже есть на сайте.  Укажите свои имя и фамилию, чтобы мы смогли вас узнать.
                </div>
                <form action="" class="form form-validate" >
                   
                    <div class="input-row">
                        <div class="input-group">
                            <label>Имя</label>
                            <input type="text" class="input" placeholder="Введите имя">
                        </div>
                    </div>

                    <div class="input-row">
                        <div class="input-group">
                            <label>Фамилия</label>
                            <input type="text" class="input" placeholder="Введите фамилию">
                        </div>
                    </div>
                    <div class="form-footer">
                        <button class="button">Проверить</button>
                        <a href="" class="form-link">Я новый пользователь</a>
                    </div>

                    <div class="form-alert">
                        Нажимая кнопку «Проверить», вы соглашаетесь cусловиями  <div class="red">политики конфиденциальности</div>
                    </div>


                </form>
               
                <a href="" class="not-found__link">Связаться с менеджером</a>

            </div>

          
        </div>
    </div>
</div>