.footer{
    
    padding-top: rem(30px);
    @media(max-width: 1400px){
        padding: 5rem 0 0;
    }

    @media(max-width: 991px){
        padding-top: 0;
    }
    
    @media(max-width: 768px){
        display: none;
    }
    &__inner{
    
        display: flex;
      
        justify-content: space-between;
        padding-bottom: 2.875rem;
        @media(max-width: 991px){
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }

    &__logo{
        width: 13.187rem;
        height: 2rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 1.5rem;
    }

    &__label{
        font-weight: 600;
        font-size: 1.375rem;
        line-height: rem(32px);
        color: $color_4;
        margin-bottom: 1.7rem;
        margin-top: rem(2px);
    }

    &__link, &__text{
        font-weight: 400;
        font-size: rem(16px);
        color: $color_4;
    }

    &__text{
        line-height: 163.42%;
        &--sm{
            font-size: 0.937rem;
        }
        &--md{
            font-weight: 600;
            font-size: 1.125rem;
            line-height: 2rem;
            margin-bottom: 2.25rem; 
        }
    }

    &__link{
        line-height: 1.75rem;
        display: block;
        margin-bottom: 1rem;
        &--md{
            font-weight: 600;
            font-size: 1.125rem;
            line-height: 2rem;
            margin-top: auto;
        }
    }

    &__col{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-width: rem(240px);
        margin-right: rem(160px);
       
        &:nth-child(2){
            margin-right: rem(80px);
        }

        &:nth-child(3){
            margin-right: rem(163px);
        }

        &--sm-w{
            max-width: 15rem;
        }

        @media(max-width: 991px){
            margin-bottom: 40px;
            margin-right: 60px !important;
        }
    }

    &__companies{
        padding: 0.937rem 0;
        background: $color_9;
    }

    &__company{
        margin-right: rem(106px);
        opacity: 0.5;
        transition: 0.2s linear;
        width: rem(110px);
        &:hover{
            opacity: 1;
        }
        img{
            filter: grayscale(100%);
            width: 100%;
            object-fit: cover;
        }

        @media(max-width: 1200px){
            margin-right: rem(60px);
        } 

        &:last-child{
            margin-right: 0;
        }
    }


    &__row{
        width: 100%;
        display: flex;
        align-items: center;
        @media(max-width: 1200px){
            justify-content: center;
        }
    }

    &__bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2.2rem 0 2rem;
        position: relative;
    }

    &__payments{
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &-img{
            margin-right: 1.875rem;
            &:last-child{
                margin-right: 0;
            }
        }
    }

    &__box{
        display: flex;
        align-items: center;
    }


    &__logo-dev{
        margin-right: 1.5rem;
    }

    &__contact{
        &-link{
            font-weight: 600;
            font-size: 1.125rem;
            line-height: 2rem;
            color: $color_4;
            &--red{
                color: $color_2;
            }
        }
    }

    &__social{
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
        display: block;
        &:last-child{
            margin-right: 0;
        }
    }

    &__socials{
        display: flex;
        align-items: center;
        margin: 2.187rem 0 0;
    }

}
