.stars{
    display: flex;
    align-items: center;
    
    i.star{
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1211_439711)'%3E%3Cpath d='M7.55714 0.844972C7.74435 0.487784 8.25565 0.487783 8.44286 0.844971L10.6253 5.0091C10.6978 5.14727 10.8305 5.24373 10.9843 5.2699L15.619 6.05877C16.0166 6.12644 16.1746 6.61272 15.8927 6.90114L12.6068 10.2636C12.4978 10.3752 12.4471 10.5312 12.4697 10.6856L13.1517 15.3372C13.2102 15.7363 12.7965 16.0368 12.4351 15.8579L8.22185 13.7718C8.08205 13.7026 7.91795 13.7026 7.77815 13.7718L3.56488 15.8579C3.20347 16.0368 2.78982 15.7363 2.84831 15.3373L3.53027 10.6856C3.55289 10.5312 3.50219 10.3752 3.39315 10.2636L0.107256 6.90114C-0.1746 6.61272 -0.016598 6.12644 0.380958 6.05877L5.0157 5.2699C5.16949 5.24373 5.30225 5.14727 5.37466 5.0091L7.55714 0.844972Z' fill='%23A7A9B9' fill-opacity='0.5'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1211_439711'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        width: rem(16px);
        height: rem(16px);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 8px;
        display: block;
        &--fill{
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1211_439708)'%3E%3Cpath d='M7.55714 0.844972C7.74435 0.487784 8.25565 0.487783 8.44286 0.844971L10.6253 5.0091C10.6978 5.14727 10.8305 5.24373 10.9843 5.2699L15.619 6.05877C16.0166 6.12644 16.1746 6.61272 15.8927 6.90114L12.6068 10.2636C12.4978 10.3752 12.4471 10.5312 12.4697 10.6856L13.1517 15.3372C13.2102 15.7363 12.7965 16.0368 12.4351 15.8579L8.22185 13.7718C8.08205 13.7026 7.91795 13.7026 7.77815 13.7718L3.56488 15.8579C3.20347 16.0368 2.78982 15.7363 2.84831 15.3373L3.53027 10.6856C3.55289 10.5312 3.50219 10.3752 3.39315 10.2636L0.107256 6.90114C-0.1746 6.61272 -0.016598 6.12644 0.380958 6.05877L5.0157 5.2699C5.16949 5.24373 5.30225 5.14727 5.37466 5.0091L7.55714 0.844972Z' fill='%23F27229'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1211_439708'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        }

        @media(max-width: 768px){
            &:not(:first-child){
                display: none;
            }
        }

       
        &--hovered{
            cursor: pointer;
            &:hover{
                & ~ .star{
                    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1211_439711)'%3E%3Cpath d='M7.55714 0.844972C7.74435 0.487784 8.25565 0.487783 8.44286 0.844971L10.6253 5.0091C10.6978 5.14727 10.8305 5.24373 10.9843 5.2699L15.619 6.05877C16.0166 6.12644 16.1746 6.61272 15.8927 6.90114L12.6068 10.2636C12.4978 10.3752 12.4471 10.5312 12.4697 10.6856L13.1517 15.3372C13.2102 15.7363 12.7965 16.0368 12.4351 15.8579L8.22185 13.7718C8.08205 13.7026 7.91795 13.7026 7.77815 13.7718L3.56488 15.8579C3.20347 16.0368 2.78982 15.7363 2.84831 15.3373L3.53027 10.6856C3.55289 10.5312 3.50219 10.3752 3.39315 10.2636L0.107256 6.90114C-0.1746 6.61272 -0.016598 6.12644 0.380958 6.05877L5.0157 5.2699C5.16949 5.24373 5.30225 5.14727 5.37466 5.0091L7.55714 0.844972Z' fill='%23A7A9B9' fill-opacity='0.5'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1211_439711'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                }
            }
          
            // &:hover{
            //     background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1211_439708)'%3E%3Cpath d='M7.55714 0.844972C7.74435 0.487784 8.25565 0.487783 8.44286 0.844971L10.6253 5.0091C10.6978 5.14727 10.8305 5.24373 10.9843 5.2699L15.619 6.05877C16.0166 6.12644 16.1746 6.61272 15.8927 6.90114L12.6068 10.2636C12.4978 10.3752 12.4471 10.5312 12.4697 10.6856L13.1517 15.3372C13.2102 15.7363 12.7965 16.0368 12.4351 15.8579L8.22185 13.7718C8.08205 13.7026 7.91795 13.7026 7.77815 13.7718L3.56488 15.8579C3.20347 16.0368 2.78982 15.7363 2.84831 15.3373L3.53027 10.6856C3.55289 10.5312 3.50219 10.3752 3.39315 10.2636L0.107256 6.90114C-0.1746 6.61272 -0.016598 6.12644 0.380958 6.05877L5.0157 5.2699C5.16949 5.24373 5.30225 5.14727 5.37466 5.0091L7.55714 0.844972Z' fill='%23F27229'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1211_439708'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            // }
        }
    }

    &-hovered{
        &:hover{
            .star{
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1211_439708)'%3E%3Cpath d='M7.55714 0.844972C7.74435 0.487784 8.25565 0.487783 8.44286 0.844971L10.6253 5.0091C10.6978 5.14727 10.8305 5.24373 10.9843 5.2699L15.619 6.05877C16.0166 6.12644 16.1746 6.61272 15.8927 6.90114L12.6068 10.2636C12.4978 10.3752 12.4471 10.5312 12.4697 10.6856L13.1517 15.3372C13.2102 15.7363 12.7965 16.0368 12.4351 15.8579L8.22185 13.7718C8.08205 13.7026 7.91795 13.7026 7.77815 13.7718L3.56488 15.8579C3.20347 16.0368 2.78982 15.7363 2.84831 15.3373L3.53027 10.6856C3.55289 10.5312 3.50219 10.3752 3.39315 10.2636L0.107256 6.90114C-0.1746 6.61272 -0.016598 6.12644 0.380958 6.05877L5.0157 5.2699C5.16949 5.24373 5.30225 5.14727 5.37466 5.0091L7.55714 0.844972Z' fill='%23F27229'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1211_439708'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            }
        }
        .star{
           
            position: relative;
            &::after{
                content: '';
                position: absolute;
                display: block;
                top: 50%;
                transform: translateY(-50%);
                right: rem(-17px);
                width: rem(17px);
                height: 100%;
            }
        }
    }




}