<div class="product__bottom-panel">
    <div class="col">
        <div class="in-stock">
            <span class="dashed">В наличии: <b>4 шт.</b> </span>
            <span>от <b>сегодня</b> </span>
        </div>
    </div>

    <div class="col">
        <div class="price">
            1 401 ₽
            <div class="flex">
                <div class="discount">
                    -30%
                </div>
                <div class="price--old">1971 ₽</div>
            </div>
        </div>
    </div>

    <div class="col">
        @include('../components/cart-btn.html')
    </div>
</div>