<div class="spares-card__button-box  buttons-anim">
    <button class="jsAddItemCart buttons-anim__button buttons-anim__button--red">В
        КОРЗИНУ
    </button>
    <div class="jsButtonCounter buttons-anim__button buttons-anim__button--black">
        <span class="js-icon-scale-change js-change-number buttons-anim__icon buttons-anim__icon--decrease"
            data-type="decrease"></span>
        <input class="js-number-inp buttons-anim__input" type="text" value="1">
        <span class="js-icon-scale-change js-change-number buttons-anim__icon buttons-anim__icon--increase"
            data-type="increase">
        </span>
        <span class="button-show-cancel-inner button-show-cancel-inner--red">Отмена</span>
    </div>
</div>