<div class="dropdown dropdown--big dropdown--top jsBasketDropdown" id="jsBasketDropdown">
    <!--<div class="dropdown__inner">
       <div class="dropdown__overhead">

           <div class="dropdown__items">
               <div class="dropdown__title dropdown__item active">в корзине</div>
               <div class="dropdown__title dropdown__item">0 товаров</div>
           </div>

           <button class="dropdown__close dropdown__close&#45;&#45;ml jsBtnCloseDropdown">
               <svg class="dropdown__close-icon">
                   <use xlink:href="/img/sprite.svg#css&#45;&#45;close"></use>
               </svg>
           </button>
       </div>

        <div class="dropdown__text">
            Найдите необходимые запчасти и добавьте их в корзину
        </div>

        <button class="button dropdown__button">
            начать поиск деталей
        </button>
    </div>-->

    <div class="dropdown__inner">
        <div class="dropdown__main">
            <div class="dropdown__overhead">

                <div class="dropdown__items">
                    <div class="dropdown__title dropdown__item active">В корзине</div>
                    <div class="dropdown__title dropdown__item">3 товара</div>
                </div>

                <button class="dropdown__close dropdown__close--ml jsBtnCloseDropdown">
                    <svg class="dropdown__close-icon">
                        <use xlink:href="/img/sprite.svg#css--close"></use>
                    </svg>
                </button>
            </div>

            <div class="dropdown__text">
                Здесь собраны товары готовые к оформлению
            </div>

            <div class="products">
                <div class="product-item">
                    <div class="product-item__box">
                         <img alt="temp-alt" src="/img/item.png"  class="product-item__img">
                    </div>
                    <div class="product-item__info">
                        <div class="product-item__title">
                            Щётка стеклоочистителя зимняя ALCF 24”/60 см
                        </div>
                        <div class="product-item__text">
                            Номер запчасти: 1882NKE601
                        </div>
                        <div class="product-item__row">
                            <div class="counter product-item__counter">
                                <button class="counter__icon minus"></button>
                                <input type="text" class="counter__value" value="0">
                                <button class="counter__icon counter__icon--plus plus"></button>
                            </div>
                            <div class="product-item__row">
                                <div class="product-item__price">1 230 ₽</div>
                                <div class="product-item__discount">1 030 ₽</div>
                            </div>
                        </div>
                    </div>
                    <div class="product-item__active">
                        <button class="product-item__favourite">
                            <svg class="product-item__icon">
                                <use xlink:href="/img/sprite.svg#css--heart"></use>
                            </svg>
                        </button>
                        <button class="product-item__remove">
                            <svg class="product-item__icon">
                                <use xlink:href="/img/sprite.svg#css--trash"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="product-item">
                    <div class="product-item__box">
                         <img alt="temp-alt" src="/img/item2.png"  class="product-item__img">
                    </div>
                    <div class="product-item__info">
                        <div class="product-item__title">
                            Свеча зажигания Denso 3120
                        </div>
                        <div class="product-item__text">
                            Номер запчасти: 1882NKE601
                        </div>
                        <div class="product-item__row">
                            <div class="counter product-item__counter">
                                <button class="counter__icon minus"></button>
                                <input type="text" class="counter__value" value="0">
                                <button class="counter__icon counter__icon--plus plus"></button>
                            </div>
                            <div class="product-item__row">
                                <div class="product-item__price">630 ₽</div>
                            </div>
                        </div>
                    </div>
                    <div class="product-item__active">
                        <button class="product-item__favourite">
                            <svg class="product-item__icon">
                                <use xlink:href="/img/sprite.svg#css--heart-red"></use>
                            </svg>
                        </button>
                        <button class="product-item__remove">
                            <svg class="product-item__icon">
                                <use xlink:href="/img/sprite.svg#css--trash"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="product-item">
                    <div class="product-item__box">
                         <img alt="temp-alt" src="/img/item3.png"  class="product-item__img">
                    </div>
                    <div class="product-item__info">
                        <div class="product-item__title">
                            Моторное масло MOBIL Super 3000 X1, 5W-40, 4л, Super 3000 X1 синтет...
                        </div>
                        <div class="product-item__text">
                            Номер запчасти: 1882NKE601
                        </div>
                        <div class="product-item__row">
                            <div class="counter product-item__counter">
                                <button class="counter__icon minus"></button>
                                <input type="text" class="counter__value" value="0">
                                <button class="counter__icon counter__icon--plus plus"></button>
                            </div>
                            <div class="product-item__row">
                                <div class="product-item__price">1 230 ₽</div>
                                <div class="product-item__discount">1 030 ₽</div>
                            </div>
                        </div>
                    </div>
                    <div class="product-item__active">
                        <button class="product-item__favourite">
                            <svg class="product-item__icon">
                                <use xlink:href="/img/sprite.svg#css--heart"></use>
                            </svg>
                        </button>
                        <button class="product-item__remove">
                            <svg class="product-item__icon">
                                <use xlink:href="/img/sprite.svg#css--trash"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="dropdown__block dropdown__block--py dropdown__block--bt dropdown__block--between">
            <div class="dropdown__total">
                <div class="dropdown__text dropdown__text--mb-none">
                    Итого со скидкой:
                </div>
                <div
                    class="dropdown__text dropdown__text--md dropdown__text--black dropdown__text--mb-none dropdown__text--semibold">
                    2 367 ₽
                </div>
            </div>
            <button class="button dropdown__button dropdown__button--margin-none">
                перейти в корзину
            </button>
        </div>
    </div>
</div>