<div class="dropdown dropdown--big dropdown--top dropdown--tablet-hidden jsCarsDropdown" id="jsCarsDropdown">
    <!--<div class="dropdown__inner">
        <div class="dropdown__overhead">
            <div class="dropdown__items">
                <div class="dropdown__title dropdown__item active">ГАРАЖ</div>
                <div class="dropdown__title dropdown__item">0 АВТО</div>
            </div>

        </div>
        <div class="dropdown__text">
            Добавь свой автомобиль и ищи любые автозапчасти в 3 клика
        </div>
        <button class="button dropdown__button">
            авторизоваться
        </button>
    </div>-->

    <div class="dropdown__inner dropdown__inner--height">
        <div class="dropdown__overhead">

            <div class="dropdown__items">
                <div class="dropdown__title dropdown__item active">ГАРАЖ</div>
                <div class="dropdown__title dropdown__item">2 автомибиля</div>
            </div>

            <button class="dropdown__close dropdown__close--ml jsBtnCloseDropdown">
                <svg class="dropdown__close-icon">
                    <use xlink:href="/img/sprite.svg#css--close"></use>
                </svg>
            </button>
        </div>

        <div class="dropdown__text">
            Здесь собраны ваши автомобили
        </div>

        <div class="cars dropdown__cars">
            <div class="cars__item">
                 <img alt="temp-alt" src="/img/car.png"  class="cars__img">
                <div class="cars__box">
                    <a href="#" class="cars__title">
                        Chery Tiggo T11
                    </a>
                    <div class="cars__text">
                        2013 год
                    </div>
                    <div class="cars__text cars__text--md">
                        Y4K8762Z7HB300490
                    </div>
                </div>
            </div>
            <div class="cars__item">
                 <img alt="temp-alt" src="/img/car2.png"  class="cars__img">
                <div class="cars__box">
                    <a href="#" class="cars__title">
                        Bentley Continental Flying Spur W12 Mulliner
                    </a>
                    <div class="cars__text">
                        2011 - 2014 годы
                    </div>
                    <div class="cars__text cars__text--md">
                        Y6DAF4854C0006989
                    </div>
                </div>
            </div>
        </div>


        <button class="button dropdown__button">
            перейти в гараж
        </button>
    </div>

</div>