<div class="dropdown dropdown--big dropdown--top dropdown--tablet-hidden jsFavouriteDropdown" id="jsFavouriteDropdown">

    <div class="dropdown__inner">
        <div class="dropdown__main">
            <div class="dropdown__overhead">

                <div class="dropdown__items">
                    <div class="dropdown__title dropdown__item active">избранное</div>
                    <div class="dropdown__title dropdown__item">12 товаров</div>
                </div>

                <button class="dropdown__close dropdown__close--ml jsBtnCloseDropdown">
                    <svg class="dropdown__close-icon">
                        <use xlink:href="/img/sprite.svg#css--close"></use>
                    </svg>
                </button>
            </div>

            <div class="dropdown__text">
                Здесь собраны понравившиеся вам запчасти
            </div>

            <div class="products">
                <div class="product-item">
                    <div class="product-item__box">
                         <img alt="temp-alt" src="/img/item.png"  class="product-item__img">
                    </div>
                    <div class="product-item__info">
                        <div class="product-item__title">
                            Щётка стеклоочистителя зимняя ALCF 24”/60 см
                        </div>
                        <div class="product-item__text">
                            Номер запчасти: 1882NKE601
                        </div>
                        <div class="product-item__row">
                            <div class="counter product-item__counter">
                                <button class="counter__icon minus"></button>
                                <input type="text" class="counter__value" value="0">
                                <button class="counter__icon counter__icon--plus plus"></button>
                            </div>
                            <div class="product-item__row">
                                <div class="product-item__price">1 230 ₽</div>
                                <div class="product-item__discount">1 030 ₽</div>
                            </div>
                        </div>
                    </div>
                    <div class="product-item__active">
                        <button class="product-item__favourite">
                            <svg class="product-item__icon">
                                <use xlink:href="/img/sprite.svg#css--heart"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="product-item">
                    <div class="product-item__box">
                         <img alt="temp-alt" src="/img/item2.png"  class="product-item__img">
                    </div>
                    <div class="product-item__info">
                        <div class="product-item__title">
                            Свеча зажигания Denso 3120
                        </div>
                        <div class="product-item__text">
                            Номер запчасти: 1882NKE601
                        </div>
                        <div class="product-item__row">
                            <div class="counter product-item__counter">
                                <button class="counter__icon minus"></button>
                                <input type="text" class="counter__value" value="0">
                                <button class="counter__icon counter__icon--plus plus"></button>
                            </div>
                            <div class="product-item__row">
                                <div class="product-item__price">630 ₽</div>
                            </div>
                        </div>
                    </div>
                    <div class="product-item__active">
                        <button class="product-item__favourite">
                            <svg class="product-item__icon">
                                <use xlink:href="/img/sprite.svg#css--heart-red"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="product-item">
                    <div class="product-item__box">
                         <img alt="temp-alt" src="/img/item3.png"  class="product-item__img">
                    </div>
                    <div class="product-item__info">
                        <div class="product-item__title">
                            Моторное масло MOBIL Super 3000 X1, 5W-40, 4л, Super 3000 X1 синтет...
                        </div>
                        <div class="product-item__text">
                            Номер запчасти: 1882NKE601
                        </div>
                        <div class="product-item__row">
                            <div class="counter product-item__counter">
                                <button class="counter__icon minus"></button>
                                <input type="text" class="counter__value" value="0">
                                <button class="counter__icon counter__icon--plus plus"></button>
                            </div>
                            <div class="product-item__row">
                                <div class="product-item__price">1 230 ₽</div>
                                <div class="product-item__discount">1 030 ₽</div>
                            </div>
                        </div>
                    </div>
                    <div class="product-item__active">
                        <button class="product-item__favourite">
                            <svg class="product-item__icon">
                                <use xlink:href="/img/sprite.svg#css--heart"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="dropdown__block dropdown__block--py dropdown__block--bt">
            <button class="button dropdown__button">
                Смотреть все
            </button>
        </div>
    </div>
</div>