.products__grid{
    display: grid;
    padding-top: rem(32px);
    max-width: rem(1280px);
    @media(max-width: 991px){
        padding-top: 0;
        margin-top: -20px;
    }
    &--3{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: rem(40px);
        @media(max-width: 991px){
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
        @media(max-width: 768px){
            grid-template-columns: 1fr;
            grid-gap: 37px;
            margin-top: -38px;

        }
    }

    &-item{
        background: $color_8;
        position: relative;

        @media(max-width: 768px){
            display: grid;
            grid-template-columns: 0.5fr 1fr;
        }
        .product__item{

           
            &-body{
                padding: 0px rem(33px);

                @media(max-width: 768px){
                    padding: 43px 23px 20px;

                 
                }
            }
            &-img{
                padding-top: rem(56px);
                padding-bottom: rem(28px);
                @media(max-width: 768px){
                    position: relative;
                }
                img{
                   width: rem(192px);
                   height: rem(192px);
                   display: block;
                   margin: 0 auto;

                   @media(max-width: 768px){
                    width: 120px;
                    height: 120px;
                   }
                }
            }

            &-name{
                font-weight: 400;
                font-size: rem(18px);
                line-height: rem(24px);
                color: $color_4;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                &:hover{
                    color: $color_2;
                }

                @media(max-width: 768px){
                    font-size: 12px;
                    line-height: 24px;
                }
            }

            &-row{
                display: flex;
                padding-top: rem(16px);
                padding-bottom: rem(2px);
                align-items: center;
                @media(max-width: 768px){
                    padding-bottom: 8px;
                }
                &--between{
                    justify-content: space-between;
                }
            }
            
            &-text{
                font-weight: 400;
                font-size: rem(14px);
                line-height: rem(24px);
                color: $color_6;
                display: block;
                margin-bottom: rem(8px);

                &:last-child{
                    margin-bottom: 0;
                }
                &--underline{
                    text-decoration: underline dotted $color_3;
                    text-underline-offset: .3125rem;
                }
                span{
                    font-weight: 600;
                    color: $color_4;
                }

                @media(max-width: 768px){
                    font-size: 12px;
                    line-height: 18px;
                }
            }


            &-attr{
                font-weight: 400;
                font-size: rem(16px);
                line-height: rem(28px);
                color: $color_3;

                @media(max-width: 768px){
                    font-size: 12px;
                    line-height: 18px;
                }
            }

            &-footer{
                margin-top: auto;
                height: rem(64px);
                display: flex;
                align-items: center;
                &.flex-end{
                    justify-content: flex-end;
                    margin-top: 4.6rem;
                    @media(max-width: 768px){
                        margin-top: 0;
                    }
                }

                .by-order-btn{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    font-weight: 600;
                    font-size: rem(14px);
                    line-height: rem(14px);
                    text-transform: uppercase;
                    color: $color_8;
                    background: $color_4;
                    @media(max-width: 768px){
                        width: 50%;
                        font-size: 10px;
                    }
                }
                @media(max-width: 768px){
                    grid-column: 1/3;
                    margin-top: 0;
                    height: 48px;
                    margin-top: 9px;
                }
                button, a{
                    height: 100% !important;
                }
                .button--grey{
                    width: 50%;
                }
                .buttons-anim{
                    height: 100%;
                    width: 50% !important;
                }
            }
        }


        .price{
            font-weight: 600;
            font-size: rem(18px);
            line-height: rem(25px);
            color: $color_4;
            width: 100%;
            text-align: right;
            @media(max-width: 768px){
                font-size: 14px;
                line-height: 18px;
            }
            &--old{
                font-weight: 400;
                font-size: rem(14px);
                line-height: rem(24px);
                text-decoration-line: line-through;
                color: $color_6;
                margin-top: rem(7px);
                @media(max-width: 768px){
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }

        .proposals{
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: rem(14px);
            line-height: rem(28px);
            text-transform: uppercase;
            color: $color_4;
            margin-bottom: rem(16px);
            @media(max-width: 768px){
                &--desktop{
                    display: none;
                }
            }

            @media(min-width: 768px){
                &--mobile{
                    display: none;
                }
            }

            &--mobile{
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: $color_6;
                text-decoration: underline dotted $color_3;
                text-underline-offset: .3125rem;
            }


            &:hover{
                i{
                    transform: translateX(10px);
                }
            }
            i{
                width: rem(48px);
                height: rem(16px);
                margin-left: rem(22px);
                transition: 0.2s linear;
                background-size: cover;
            }
        }

        .heart__favorite-btn{
            position: absolute;
            top: rem(23px);
            right: rem(16px);
            svg{
                width: rem(28px);
                height: rem(28px);
            }

            @media(max-width: 768px){
                right: -4px;
                top: 31px;
                svg{
                    width: 24px;
                    height: 24px;
                }
            }
        }
            
    }
}


.hints-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
}



.sop-products{
    @media(max-width: 768px){
        padding-bottom: 60px;
    }
}


