&-characteristic{
    padding-top: rem(40px);
     @media(max-width: 991px){
         padding-top: 0;
         margin-top: -12px;
     }
     .sale{
         padding: rem(6px) rem(16px);
         display: flex;
         align-items: center;
         background: #F1F1F3;
         font-weight: 600;
         border-radius: rem(40px);
         font-size: rem(14px);
         line-height: rem(28px);
         text-transform: uppercase;
         color: $color_1;
         margin-bottom: rem(8px);
         width: max-content;
         letter-spacing: rem(0.3px);
         &--with-hint{
            position: relative;
            &::after{
                content: '';
                display: block;
                width: 16px;
                height: 16px;
                top: 50%;
                transform: translateY(-50%);
                right: -22px;
                position: absolute;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2320_467659)'%3E%3Ccircle cx='8' cy='8' r='8' fill='%23A7A9B9'/%3E%3Cpath d='M7.43236 9.33333C7.43236 9.05811 7.47699 8.81636 7.56625 8.60809C7.65551 8.39981 7.7708 8.21385 7.91213 8.05021C8.05346 7.88656 8.20223 7.73408 8.35844 7.59275C8.52208 7.45142 8.67457 7.31381 8.8159 7.17992C8.95723 7.04603 9.07252 6.9047 9.16179 6.75593C9.25105 6.60716 9.29568 6.4398 9.29568 6.25384C9.29568 5.94142 9.16922 5.68852 8.91632 5.49512C8.66341 5.30172 8.32497 5.20502 7.90098 5.20502C7.49186 5.20502 7.13482 5.2794 6.82985 5.42817C6.53231 5.57694 6.28312 5.78894 6.08229 6.06416L5 5.36123C5.31241 4.93724 5.72152 4.60623 6.22734 4.3682C6.73315 4.12273 7.33194 4 8.02371 4C8.56671 4 9.04277 4.08182 9.45188 4.24547C9.86099 4.40167 10.1808 4.63226 10.4114 4.93724C10.642 5.23477 10.7573 5.59926 10.7573 6.03068C10.7573 6.32822 10.709 6.58856 10.6123 6.81172C10.523 7.03487 10.404 7.23199 10.2552 7.40307C10.1139 7.56671 9.96141 7.72292 9.79777 7.87169C9.63412 8.01302 9.47792 8.15435 9.32915 8.29568C9.18782 8.43701 9.07252 8.58949 8.98326 8.75314C8.894 8.91678 8.84937 9.11018 8.84937 9.33333H7.43236ZM8.14644 12C7.8861 12 7.67039 11.9145 7.4993 11.7434C7.33566 11.5723 7.25384 11.3677 7.25384 11.1297C7.25384 10.8917 7.33566 10.6908 7.4993 10.5272C7.67039 10.3561 7.8861 10.2706 8.14644 10.2706C8.40679 10.2706 8.61878 10.3561 8.78243 10.5272C8.94607 10.6908 9.02789 10.8917 9.02789 11.1297C9.02789 11.3677 8.94607 11.5723 8.78243 11.7434C8.61878 11.9145 8.40679 12 8.14644 12Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2320_467659'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                
            }
         }
         @media(max-width: 991px){
             font-size: 10px;
             padding: 5px 16px;
             line-height: 14px;
             margin-bottom: 16px;
         }
         &::before{
             content: '';
             width: rem(16px);
             height: rem(16px);
             background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.87776 0.464847L5.67347 1.66914C5.57588 1.76673 5.4435 1.82156 5.30548 1.82156H3.40865C2.53213 1.82156 1.82156 2.53213 1.82156 3.40865V5.30548C1.82156 5.4435 1.76673 5.57587 1.66914 5.67347L0.464847 6.87776C-0.154949 7.49756 -0.154949 8.50244 0.464847 9.12224L1.66914 10.3265C1.76673 10.4241 1.82156 10.5565 1.82156 10.6945V12.5914C1.82156 13.4679 2.53213 14.1784 3.40865 14.1784H5.30548C5.4435 14.1784 5.57587 14.2333 5.67347 14.3309L6.87776 15.5352C7.49756 16.1549 8.50244 16.155 9.12224 15.5352L10.3265 14.3309C10.4241 14.2333 10.5565 14.1784 10.6945 14.1784H12.5914C13.4679 14.1784 14.1784 13.4679 14.1784 12.5914V10.6945C14.1784 10.5565 14.2333 10.4241 14.3309 10.3265L15.5352 9.12224C16.1549 8.50245 16.155 7.49756 15.5352 6.87776L14.3309 5.67347C14.2333 5.57587 14.1784 5.4435 14.1784 5.30548V3.40865C14.1784 2.53212 13.4679 1.82156 12.5914 1.82156H10.6945C10.5565 1.82156 10.4241 1.76673 10.3265 1.66914L9.12224 0.464847C8.50245 -0.154949 7.49756 -0.154949 6.87776 0.464847Z' fill='%23E60000'/%3E%3Cline x1='5' y1='10.5858' x2='10.5858' y2='5' stroke='%23F1F1F3' stroke-width='2' stroke-linecap='round'/%3E%3Ccircle cx='6' cy='5' r='1' fill='%23F1F1F3'/%3E%3Ccircle cx='10' cy='11' r='1' fill='%23F1F1F3'/%3E%3C/svg%3E%0A");
             margin-right: rem(8px);
             background-size: cover;

             @media(max-width: 991px){
                 margin-right: 11px;
             }
         }
     }

     .product__card-row{
         &--pt-none{
             padding-top: 0;
         }
         &:last-child{
             padding-bottom: 0;
             padding-top: 0;
             display: grid;
             grid-template-columns: repeat(2, rem(365px));
         }
     }
 }