.name{
    font-weight: 600;
    font-size: rem(20px);
    line-height: rem(32px);
    color: $color_4;
    margin-bottom: rem(8px);
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;

    @media(max-width: 768px){
        font-size: 14px;
        margin-bottom: 4px;
        line-height: 18px;
    }
}