<div class="modal jsByOneClick" id="jsByOneClick">

    <div class="modal__inner">
        
        <div class="modal__content">
            @include('../components/modal-close.html')

            <div class="parts-item-main modal__parts-item">
                <div class="parts-item-main__wrapper">
                    <div class="parts-item-main__preview">
                        <button class="parts-item__favorite">
                            <svg class="heart__favorite spares-card__favorite" viewBox="0 0 26 26">
                                <g class="heart-fill-back">
                                    <path class="b" d="M19.18,0c-2.74,0-5.09,1.24-6.18,3.57C11.91,1.24,9.56,0,6.82,0,3.05,0,0,3.05,0,6.82s4.16,6.92,6.82,9.58c2.34,2.34,6.18,6.19,6.18,6.19,0,0,4.29-4.3,6.18-6.19,2.66-2.66,6.82-5.81,6.82-9.58S22.95,0,19.18,0Z"></path>
                                </g>
                                <g class="heart-stroke" fill="#000000">
                                    <path d="M19.18,1.8c2.77,0,5.02,2.25,5.02,5.02,0,2.35-2.55,4.76-4.8,6.88-.52,.49-1.03,.97-1.49,1.43-1.23,1.23-3.49,3.49-4.91,4.92-1.33-1.33-3.42-3.43-4.91-4.92-.46-.46-.97-.94-1.49-1.43C4.35,11.58,1.8,9.17,1.8,6.82,1.8,4.05,4.05,1.8,6.82,1.8c2.14,0,3.8,.92,4.55,2.53,.3,.63,.93,1.04,1.63,1.04s1.34-.41,1.63-1.04c.75-1.61,2.41-2.53,4.55-2.53m0-1.8c-2.74,0-5.09,1.24-6.18,3.57C11.91,1.24,9.56,0,6.82,0,3.05,0,0,3.05,0,6.82s4.16,6.92,6.82,9.58c2.34,2.34,6.18,6.19,6.18,6.19,0,0,4.29-4.3,6.18-6.19,2.66-2.66,6.82-5.81,6.82-9.58S22.95,0,19.18,0h0Z"></path>
                                </g>
                                <g class="heart-fill">
                                    <path class="b" d="M19.18,0c-2.74,0-5.09,1.24-6.18,3.57C11.91,1.24,9.56,0,6.82,0,3.05,0,0,3.05,0,6.82s4.16,6.92,6.82,9.58c2.34,2.34,6.18,6.19,6.18,6.19,0,0,4.29-4.3,6.18-6.19,2.66-2.66,6.82-5.81,6.82-9.58S22.95,0,19.18,0Z"></path>
                                </g>
                            </svg>
                        </button>
                        <img alt="temp-alt" src="/img/photo.png" class="parts-item-main__img">
                        <div class="product-category">Оригинал</div>
                        <div class="parts-item__discount mobile-only parts-item__discount--blue">
                            –10%
                        </div>
                    </div>
                    <div class="parts-item-main__content">
                        <a href="#" class="parts-item-main__title">
                            Колодки тормозные задние дисковые к-кт X70 2017777... 
                            <div class="parts-item-main__icon --svg__alert"></div>
                        </a>
                        <div class="parts-item-main__text">D4060-JA00A</div>
                        <div class="parts-item-main__text">Geely / Китай</div>
                       
                    </div>
                </div>
                <div class="parts-item-main__info">

                    <a href="#" data-popup="jsApplicabilityModal" class="parts-item-main__action-item parts-item-main__action-item--mb">
                        <svg class="parts-item-main__action-icon icon-eye">
                            <use xlink:href="/img/sprite.svg#sprite--car-forward"></use>
                        </svg>
                        <p>Применяемость</p>
                    </a>
                    <div class="parts-item-main__action-item parts-item-main__action-item--mb">
                        <svg class="parts-item-main__action-icon">
                            <use xlink:href="/img/sprite.svg#sprite--star"></use>
                        </svg>
                        <p><b>4,8</b> <span class="mob-hidden">(9 отзывов)</span></p>
                    </div>
                </div>
            </div>


            <form action="#" class="form form-validate">
                <h3 class="form-title">
                    Купить в 1 клик
                </h3>
                <p class="form-descr">
                    Введите ваши контакты, чтобы оформить заказ. Менеджер магазина свяжется с вами для уточнения деталей заказа: состав, оплата, доставка.
                </p>

                <div class="input-row">
                    <div class="input-group">
                        <label for="urname">Имя *</label>
                        <input type="text" class="input" id="urname" data-required   placeholder="Введите имя">
                    </div>
                </div>
            

                <div class="input-row">
                    <div class="input-group">
                        <label for="tels">Номер телефона *</label>
                        <input type="tel" data-required class="input" id="tels" placeholder="+7 (000) 000-00-00">
                    </div>

                    <div class="input-group">
                        <label for="tels">Электронный адрес</label>
                        <input type="text" class="input" id="email" placeholder="Введите e-mail">
                    </div>
                </div>

                <label for="ch222" class="checkbox">
                    <input id="ch222" class="checkbox__input" type="checkbox" checked="">
                    <span class="checkbox-wrap">
                        <span class="check-sign check-part-1"></span>
                        <span class="check-sign check-part-2"></span>
                    </span>
                    <span class="checkbox__name">Я согласен с <a href="">условиями</a> передачи данных</span>
                </label>

                <button class="button submit">Отправить</button>
            </form>

        </div>
    </div>





</div>