<div class="modal modal__car-parts " id="jsCarParts">
    <div class="modal__inner">
        <div class="modal__content">

            @include('../components/modal-close.html')

            <div class="modal__overhead">
                <span class="mobile-hidden">Запчасти для ТО <b>Geely Atlas</b></span>
                <img class="model-img" src="img/geely.png" alt="">
            </div>


            <div class="car-parts__table-wrapper">
                <div class="car-parts__overhead">
                    <div>Название детали</div>
                    <div>Номер запчасти /
                        цена</div>
                    <div>Срок поставки</div>
                    <div>Цена</div>
                </div>
                <div class="table-title">
                    Запчасти для ТО <span>Geely Atlas</span> 
                </div>
                <div class="car-parts__table">
                    <div class="car-parts__table-item">
                        <div class="car-parts__name">
                            <img src="img/profile-part.png" alt="">
                            <span class="car-parts__text">Барабан тормозной</span>
                            @include('../components/favorite-btn.html')
                        </div>
                        <div class="car-parts__number">

                            <div class="mobile-name">Барабан тормозной</div>
                            <div class="car-parts__text car-parts__text--bold">
                                1882NKE601
                            </div>
                            <div class="car-parts__text">
                                Geely / Китай
                            </div>
                        </div>

                        <div class="car-parts__date">
                            <div class="car-parts__text">
                                от 17 марта, чт
                            </div>
                        </div>

                        <div class="car-parts__price">
                            <div class="car-parts__price-wrapper">
                                <div class="price">
                                    1 201 ₽
                                    <div class="price--old">
                                        1971 ₽
                                    </div>
                                </div>

                                <div class="parts-item__discount parts-item__discount--orange parts-item__discount--ml">
                                    –30%
                                </div>
                            </div>

                            <div class="quantity-wrapper">
                                <div class="buttons-anim">
                                    <button
                                        class="parts-item__button jsAddItemCart buttons-anim__button buttons-anim__button--grey">В
                                        КОРЗИНУ
                                    </button>
                                    <div
                                        class="parts-item__button jsButtonCounter buttons-anim__button buttons-anim__button--black">
                                        <span
                                            class="js-icon-scale-change js-change-number buttons-anim__icon buttons-anim__icon--decrease"
                                            data-type="decrease"></span>
                                        <input class="js-number-inp buttons-anim__input" type="text" value="1">
                                        <span
                                            class="js-icon-scale-change js-change-number buttons-anim__icon buttons-anim__icon--increase"
                                            data-type="increase">
                                        </span>
                                        <span
                                            class="button-show-cancel-inner button-show-cancel-inner--grey">Отмена</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="car-parts__table-item">
                        <div class="car-parts__name">
                            <img src="img/profile-part.png" alt="">
                            <span class="car-parts__text">Барабан тормозной</span>
                        </div>
                        <div class="car-parts__number">
                            <div class="mobile-name">Барабан тормозной</div>
                            <div class="car-parts__text car-parts__text--bold">
                                1882NKE601
                            </div>
                            <div class="car-parts__text">
                                Geely / Китай
                            </div>
                        </div>

                        <div class="car-parts__date">
                            <div class="car-parts__text">
                                от 17 марта, чт
                            </div>
                        </div>

                        <div class="car-parts__price">
                            <div class="car-parts__price-wrapper">
                                <div class="price">
                                    1 201 ₽
                                    <div class="price--old">
                                        1971 ₽
                                    </div>
                                </div>

                                <div class="parts-item__discount parts-item__discount--orange parts-item__discount--ml">
                                    –30%
                                </div>
                            </div>

                            <div class="quantity-wrapper">
                                <div class="buttons-anim">
                                    <button
                                        class="parts-item__button jsAddItemCart buttons-anim__button buttons-anim__button--grey">В
                                        КОРЗИНУ
                                    </button>
                                    <div
                                        class="parts-item__button jsButtonCounter buttons-anim__button buttons-anim__button--black">
                                        <span
                                            class="js-icon-scale-change js-change-number buttons-anim__icon buttons-anim__icon--decrease"
                                            data-type="decrease"></span>
                                        <input class="js-number-inp buttons-anim__input" type="text" value="1">
                                        <span
                                            class="js-icon-scale-change js-change-number buttons-anim__icon buttons-anim__icon--increase"
                                            data-type="increase">
                                        </span>
                                        <span
                                            class="button-show-cancel-inner button-show-cancel-inner--grey">Отмена</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="car-parts__table-item">
                        <div class="car-parts__name">
                            <img src="img/profile-part.png" alt="">
                            <span class="car-parts__text">Барабан тормозной</span>
                        </div>
                        <div class="car-parts__number">
                            <div class="mobile-name">Барабан тормозной</div>
                            <div class="car-parts__text car-parts__text--bold">
                                1882NKE601
                            </div>
                            <div class="car-parts__text">
                                Geely / Китай
                            </div>
                        </div>

                        <div class="car-parts__date">
                            <div class="car-parts__text">
                                от 17 марта, чт
                            </div>
                        </div>

                        <div class="car-parts__price">
                            <div class="car-parts__price-wrapper">
                                <div class="price">
                                    1 201 ₽
                                    <div class="price--old">
                                        1971 ₽
                                    </div>
                                </div>

                                <div class="parts-item__discount parts-item__discount--orange parts-item__discount--ml">
                                    –30%
                                </div>
                            </div>

                            <div class="quantity-wrapper">
                                <div class="buttons-anim">
                                    <button
                                        class="parts-item__button jsAddItemCart buttons-anim__button buttons-anim__button--grey">В
                                        КОРЗИНУ
                                    </button>
                                    <div
                                        class="parts-item__button jsButtonCounter buttons-anim__button buttons-anim__button--black">
                                        <span
                                            class="js-icon-scale-change js-change-number buttons-anim__icon buttons-anim__icon--decrease"
                                            data-type="decrease"></span>
                                        <input class="js-number-inp buttons-anim__input" type="text" value="1">
                                        <span
                                            class="js-icon-scale-change js-change-number buttons-anim__icon buttons-anim__icon--increase"
                                            data-type="increase">
                                        </span>
                                        <span
                                            class="button-show-cancel-inner button-show-cancel-inner--grey">Отмена</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="car-parts__table-item">
                        <div class="car-parts__name">
                            <img src="img/profile-part.png" alt="">
                            <span class="car-parts__text">Барабан тормозной</span>
                        </div>
                        <div class="car-parts__number">
                            <div class="mobile-name">Барабан тормозной</div>
                            <div class="car-parts__text car-parts__text--bold">
                                1882NKE601
                            </div>
                            <div class="car-parts__text">
                                Geely / Китай
                            </div>
                        </div>

                        <div class="car-parts__date">
                            <div class="car-parts__text">
                                от 17 марта, чт
                            </div>
                        </div>

                        <div class="car-parts__price">
                            <div class="car-parts__price-wrapper">
                                <div class="price">
                                    1 201 ₽
                                    <div class="price--old">
                                        1971 ₽
                                    </div>
                                </div>

                                <div class="parts-item__discount parts-item__discount--orange parts-item__discount--ml">
                                    –30%
                                </div>
                            </div>

                            <div class="quantity-wrapper">
                                <div class="buttons-anim">
                                    <button
                                        class="parts-item__button jsAddItemCart buttons-anim__button buttons-anim__button--grey">В
                                        КОРЗИНУ
                                    </button>
                                    <div
                                        class="parts-item__button jsButtonCounter buttons-anim__button buttons-anim__button--black">
                                        <span
                                            class="js-icon-scale-change js-change-number buttons-anim__icon buttons-anim__icon--decrease"
                                            data-type="decrease"></span>
                                        <input class="js-number-inp buttons-anim__input" type="text" value="1">
                                        <span
                                            class="js-icon-scale-change js-change-number buttons-anim__icon buttons-anim__icon--increase"
                                            data-type="increase">
                                        </span>
                                        <span
                                            class="button-show-cancel-inner button-show-cancel-inner--grey">Отмена</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="car-parts__table-item">
                        <div class="car-parts__name">
                            <img src="img/profile-part.png" alt="">
                            <span class="car-parts__text">Барабан тормозной</span>
                        </div>
                        <div class="car-parts__number">
                            <div class="mobile-name">Барабан тормозной</div>
                            <div class="car-parts__text car-parts__text--bold">
                                1882NKE601
                            </div>
                            <div class="car-parts__text">
                                Geely / Китай
                            </div>
                        </div>

                        <div class="car-parts__date">
                            <div class="car-parts__text">
                                от 17 марта, чт
                            </div>
                        </div>

                        <div class="car-parts__price">
                            <div class="car-parts__price-wrapper">
                                <div class="price">
                                    1 201 ₽
                                    <div class="price--old">
                                        1971 ₽
                                    </div>
                                </div>

                                <div class="parts-item__discount parts-item__discount--orange parts-item__discount--ml">
                                    –30%
                                </div>
                            </div>

                            <div class="quantity-wrapper">
                                <div class="buttons-anim">
                                    <button
                                        class="parts-item__button jsAddItemCart buttons-anim__button buttons-anim__button--grey">В
                                        КОРЗИНУ
                                    </button>
                                    <div
                                        class="parts-item__button jsButtonCounter buttons-anim__button buttons-anim__button--black">
                                        <span
                                            class="js-icon-scale-change js-change-number buttons-anim__icon buttons-anim__icon--decrease"
                                            data-type="decrease"></span>
                                        <input class="js-number-inp buttons-anim__input" type="text" value="1">
                                        <span
                                            class="js-icon-scale-change js-change-number buttons-anim__icon buttons-anim__icon--increase"
                                            data-type="increase">
                                        </span>
                                        <span
                                            class="button-show-cancel-inner button-show-cancel-inner--grey">Отмена</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="car-parts__table-item">
                        <div class="car-parts__name">
                            <img src="img/profile-part.png" alt="">
                            <span class="car-parts__text">Барабан тормозной</span>
                        </div>
                        <div class="car-parts__number">
                            <div class="mobile-name">Барабан тормозной</div>
                            <div class="car-parts__text car-parts__text--bold">
                                1882NKE601
                            </div>
                            <div class="car-parts__text">
                                Geely / Китай
                            </div>
                        </div>

                        <div class="car-parts__date">
                            <div class="car-parts__text">
                                от 17 марта, чт
                            </div>
                        </div>

                        <div class="car-parts__price">
                            <div class="car-parts__price-wrapper">
                                <div class="price">
                                    1 201 ₽
                                    <div class="price--old">
                                        1971 ₽
                                    </div>
                                </div>

                                <div class="parts-item__discount parts-item__discount--orange parts-item__discount--ml">
                                    –30%
                                </div>
                            </div>

                            <div class="quantity-wrapper">
                                <div class="buttons-anim">
                                    <button
                                        class="parts-item__button jsAddItemCart buttons-anim__button buttons-anim__button--grey">В
                                        КОРЗИНУ
                                    </button>
                                    <div
                                        class="parts-item__button jsButtonCounter buttons-anim__button buttons-anim__button--black">
                                        <span
                                            class="js-icon-scale-change js-change-number buttons-anim__icon buttons-anim__icon--decrease"
                                            data-type="decrease"></span>
                                        <input class="js-number-inp buttons-anim__input" type="text" value="1">
                                        <span
                                            class="js-icon-scale-change js-change-number buttons-anim__icon buttons-anim__icon--increase"
                                            data-type="increase">
                                        </span>
                                        <span
                                            class="button-show-cancel-inner button-show-cancel-inner--grey">Отмена</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="car-parts__table-item">
                        <div class="car-parts__name">
                            <img src="img/profile-part.png" alt="">
                            <span class="car-parts__text">Барабан тормозной</span>
                        </div>
                        <div class="car-parts__number">
                            <div class="mobile-name">Барабан тормозной</div>
                            <div class="car-parts__text car-parts__text--bold">
                                1882NKE601
                            </div>
                            <div class="car-parts__text">
                                Geely / Китай
                            </div>
                        </div>

                        <div class="car-parts__date">
                            <div class="car-parts__text">
                                от 17 марта, чт
                            </div>
                        </div>

                        <div class="car-parts__price">
                            <div class="car-parts__price-wrapper">
                                <div class="price">
                                    1 201 ₽
                                    <div class="price--old">
                                        1971 ₽
                                    </div>
                                </div>

                                <div class="parts-item__discount parts-item__discount--orange parts-item__discount--ml">
                                    –30%
                                </div>
                            </div>

                            <div class="quantity-wrapper">
                                <div class="buttons-anim">
                                    <button
                                        class="parts-item__button jsAddItemCart buttons-anim__button buttons-anim__button--grey">В
                                        КОРЗИНУ
                                    </button>
                                    <div
                                        class="parts-item__button jsButtonCounter buttons-anim__button buttons-anim__button--black">
                                        <span
                                            class="js-icon-scale-change js-change-number buttons-anim__icon buttons-anim__icon--decrease"
                                            data-type="decrease"></span>
                                        <input class="js-number-inp buttons-anim__input" type="text" value="1">
                                        <span
                                            class="js-icon-scale-change js-change-number buttons-anim__icon buttons-anim__icon--increase"
                                            data-type="increase">
                                        </span>
                                        <span
                                            class="button-show-cancel-inner button-show-cancel-inner--grey">Отмена</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


            <div class="car-parts__footer">
                <div class="total-count  mobile-hidden">
                    Всего: 13 товаров
                </div>
                <div class="total-price__wrapper">
                    <div class="total-price  mobile-hidden">
                        35 808 ₽
                        <div class="old-price">
                            39 971 ₽
                        </div>
                    </div>
                    <button class="button">В корзину 13 товаров за 35 808 ₽</button>
                </div>
            </div>

        </div>


    </div>
</div>