<div class="modal edit-car edit-car--md" id="edit-car2">

    <div class="modal__inner">
        <div class="modal__content ">
            @include('../components/modal-close.html')

            <div class="modal__overhead">

                <span>Изменить автомобиль </span>

            </div>

            <div class="modal__container">

               
                <div class="model-select model-select--pt-sm">
                    <div class="container">
                        <div class="steps">
                            <div class="step step--disable">
                                <div class="step-number">
                                    1
                                </div>
                
                                <div class="step-text">
                                    <div class="step-title">Выбор марки</div>
                                    <div class="step-subtitle">Выберите марку</div>
                                </div>
                            </div>
                
                
                            <a href="" class="step-link">
                                <span class="arrow arrow--back"></span>
                                <span>назад</span>
                            </a>
                
                            <div class="step">
                                <div class="step-number">
                                    2
                                </div>
                
                                <div class="step-text">
                                    <div class="step-title">Выбор модели</div>
                                    <div class="step-subtitle">Выберите модель</div>
                                </div>
                            </div>
                        </div>
                
                        <div class="search-input">
                            <input type="text" placeholder="Например – Chery">
                            <button class="search-btn --svg__search">
                            </button>
                        </div>
                
                    </div>
                </div>


                <div class="car-list">
                    <div class="container">
                        <div class="car-list__inner">
                            <a href="#" class="car-list__item">
                                <img alt="temp-alt" src="/img/cards-small/photo.png">
                                <div class="car-list__item-text">
                                    <h2 class="name">Atlas</h2>
                                    <span class="date">2016 – наст. время</span>
                                </div>
                            </a>
            
                            <a href="#" class="car-list__item">
                                <img alt="temp-alt" src="/img/cards-small/photo-1.png">
                                <div class="car-list__item-text">
                                    <h2 class="name">Coolray</h2>
                                    <span class="date">2016 – наст. время</span>
                                </div>
                            </a>
                            <a href="#" class="car-list__item">
                                <img alt="temp-alt" src="/img/cards-small/photo-2.png">
                                <div class="car-list__item-text">
                                    <h2 class="name">Tugella</h2>
                                    <span class="date">2016 – наст. время</span>
                                </div>
                            </a>
                            <a href="#" class="car-list__item">
                                <img alt="temp-alt" src="/img/cards-small/photo-3.png">
                                <div class="car-list__item-text">
                                    <h2 class="name">Emgrand</h2>
                                    <span class="date">2016 – наст. время</span>
                                </div>
                            </a>
                            <a href="#" class="car-list__item">
                                <img alt="temp-alt" src="/img/cards-small/photo-4.png">
                                <div class="car-list__item-text">
                                    <h2 class="name">GC</h2>
                                    <span class="date">2016 – наст. время</span>
                                </div>
                            </a>
                            <a href="#" class="car-list__item">
                                <img alt="temp-alt" src="/img/cards-small/photo-5.png">
                                <div class="car-list__item-text">
                                    <h2 class="name">Bentley Continental Flying Spur W12 Mulline...</h2>
                                    <span class="date">2016 – наст. время</span>
                                </div>
            
                            </a>
                            <a href="#" class="car-list__item">
                                <img alt="temp-alt" src="/img/cards-small/photo-6.png">
                                <div class="car-list__item-text">
                                    <h2 class="name">Otaka</h2>
                                    <span class="date">2016 – наст. время</span>
                                </div>
            
                            </a>
            
            
            
                        </div>
            
                    </div>
                </div>
                
            </div>

      





        </div>
    </div>





</div>