<div class="modal edit-car" id="edit-car1">

    <div class="modal__inner">
        <div class="modal__content ">
            @include('../components/modal-close.html')

            <div class="modal__overhead">

                <span>Изменить автомобиль </span>

            </div>

            <div class="modal__container">

                <div class="model-select">
                    <div class="container">
                        <div class="steps">
                            <div class="step">
                                <div class="step-number">
                                    1
                                </div>
                
                                <div class="step-text">
                                    <div class="step-title">Выбор марки</div>
                                    <div class="step-subtitle">Выберите марку</div>
                                </div>
                            </div>
                
                
                            <a href="" class="step-link step-link--disable">
                                <span class="arrow"></span>
                                <span>вперед</span>
                            </a>
                
                            <div class="step step--disable">
                                <div class="step-number">
                                    2
                                </div>
                
                                <div class="step-text">
                                    <div class="step-title">Выбор модели</div>
                                    <div class="step-subtitle">Выберите модель</div>
                                </div>
                            </div>
                        </div>
                
                        <div class="search-input">
                            <input type="text" placeholder="Например – Chery">
                            <button class="search-btn --svg__search">
                            </button>
                        </div>
                
                    </div>
                </div>


                <div class="model-list">
                    <div class="container">
                         <div class="model-list__inner">
                              <a href="#" class="model-list__item">
                                   <img alt="temp-alt" src="/img/logos/light/chery.png">
                              </a>
          
                              <a href="#" class="model-list__item">
                                   <img alt="temp-alt" src="/img/logos/light/lifan.png">
                              </a>
          
                              <a href="#" class="model-list__item">
                                   <img alt="temp-alt" src="/img/logos/light/geely.png">
                              </a>
          
                              <a href="#" class="model-list__item">
                                   <img alt="temp-alt" src="/img/logos/light/haval.png">
                              </a>
          
                              <a href="#" class="model-list__item">
                                   <img alt="temp-alt" src="/img/logos/light/Foton.png">
                              </a>
          
          
          
                              <a href="#" class="model-list__item">
                                   <img alt="temp-alt" src="/img/logos/light/lifan.png">
                              </a>
          
          
                              <a href="#" class="model-list__item">
                                   <img alt="temp-alt" src="/img/logos/light/Foton.png">
                              </a>
          
                              <a href="#" class="model-list__item">
                                   <img alt="temp-alt" src="/img/logos/light/chery.png">
                              </a>
          
                              <a href="#" class="model-list__item">
                                   <img alt="temp-alt" src="/img/logos/light/geely.png">
                              </a>
                         </div>
          
                         <a href="" class="button">продолжить</a>
                    </div>
               </div>

            </div>

      





        </div>
    </div>





</div>