<div class="modal jsGallery" id="jsGalleryReviews">
     <div class="modal__inner">
          <div class="modal__overhead modal__overhead--invert modal__overhead--large mobile-only">
               Фото покупателей
          </div>
          <div class="modal__content">
               <div class="gallery-thumbs-nav">
                    <div class="gallery-thumbs-prev"></div>
                    <div class="gallery-thumbs">
                         <div class="gallery-thumbs__wrapper">
                              <div class="gallery-thumbs__slide">
                                   <img alt="temp-alt" src="/img/galery1.png">
                              </div>
                              <div class="gallery-thumbs__slide">
                                   <img alt="temp-alt" src="/img/galery2.png">
                              </div>
                              <div class="gallery-thumbs__slide">
                                   <img alt="temp-alt" src="/img/reviews/Rectangle1445.png">
                              </div>
                              <div class="gallery-thumbs__slide">
                                   <img alt="temp-alt" src="/img/galery1.png">
                              </div>
                              <div class="gallery-thumbs__slide">
                                   <img alt="temp-alt" src="/img/galery2.png">
                              </div>
                              <div class="gallery-thumbs__slide">
                                   <img alt="temp-alt" src="/img/reviews/Rectangle1448.png">
                              </div>
                              <div class="gallery-thumbs__slide">
                                   <img alt="temp-alt" src="/img/galery1.png">
                              </div>
                              <div class="gallery-thumbs__slide">
                                   <img alt="temp-alt" src="/img/galery2.png">
                              </div>
                              <div class="gallery-thumbs__slide">
                                   <img alt="temp-alt" src="/img/reviews/Rectangle1444.png">
                              </div>
                              <div class="gallery-thumbs__slide">
                                   <img alt="temp-alt" src="/img/galery1.png">
                              </div>
                              <div class="gallery-thumbs__slide">
                                   <img alt="temp-alt" src="/img/galery2.png">
                              </div>
                              <div class="gallery-thumbs__slide">
                                   <img alt="temp-alt" src="/img/reviews/Rectangle1447.png">
                              </div>
                              <div class="gallery-thumbs__slide">
                                   <img alt="temp-alt" src="/img/galery1.png">
                              </div>
                              <div class="gallery-thumbs__slide">
                                   <img alt="temp-alt" src="/img/galery2.png">
                              </div>
                              <div class="gallery-thumbs__slide">
                                   <img alt="temp-alt" src="/img/reviews/Rectangle1444.png">
                              </div>
                              <div class="gallery-thumbs__slide">
                                   <img alt="temp-alt" src="/img/reviews/Rectangle1445.png">
                              </div>
                              <div class="gallery-thumbs__slide">
                                   <img alt="temp-alt" src="/img/reviews/Rectangle1446.png">
                              </div>
                              <div class="gallery-thumbs__slide">
                                   <img alt="temp-alt" src="/img/reviews/Rectangle1447.png">
                              </div>
                         </div>
                    </div>
                    <div class="gallery-thumbs-next"></div>
               </div>


               <div class="gallery-slider-nav">
                    <div class="gallery-slide-prev"></div>
                    <div class="gallery-slider">
                         <div class="gallery-slider__wrapper">
                              <div class="gallery-slider__slide">
                                   <img alt="temp-alt" src="/img/galery1.png">
                              </div>
                              <div class="gallery-slider__slide">
                                   <img alt="temp-alt" src="/img/galery2.png">
                              </div>
                              <div class="gallery-slider__slide">
                                   <img alt="temp-alt" src="/img/reviews/Rectangle1445.png">
                              </div>
                              <div class="gallery-slider__slide">
                                   <img alt="temp-alt" src="/img/galery1.png">
                              </div>
                              <div class="gallery-slider__slide">
                                   <img alt="temp-alt" src="/img/galery2.png">
                              </div>
                              <div class="gallery-slider__slide">
                                   <img alt="temp-alt" src="/img/reviews/Rectangle1448.png">
                              </div>
                              <div class="gallery-slider__slide">
                                   <img alt="temp-alt" src="/img/galery1.png">
                              </div>
                              <div class="gallery-slider__slide">
                                   <img alt="temp-alt" src="/img/galery2.png">
                              </div>
                              <div class="gallery-slider__slide">
                                   <img alt="temp-alt" src="/img/reviews/Rectangle1445.png">
                              </div>
                              <div class="gallery-slider__slide">
                                   <img alt="temp-alt" src="/img/galery1.png">
                              </div>
                              <div class="gallery-slider__slide">
                                   <img alt="temp-alt" src="/img/galery2.png">
                              </div>
                              <div class="gallery-slider__slide">
                                   <img alt="temp-alt" src="/img/reviews/Rectangle1448.png">
                              </div>
                              <div class="gallery-slider__slide">
                                   <img alt="temp-alt" src="/img/galery1.png">
                              </div>
                              <div class="gallery-slider__slide">
                                   <img alt="temp-alt" src="/img/galery2.png">
                              </div>
                              <div class="gallery-slider__slide">
                                   <img alt="temp-alt" src="/img/reviews/Rectangle1444.png">
                              </div>
                              <div class="gallery-slider__slide">
                                   <img alt="temp-alt" src="/img/reviews/Rectangle1445.png">
                              </div>
                              <div class="gallery-slider__slide">
                                   <img alt="temp-alt" src="/img/reviews/Rectangle1446.png">
                              </div>
                              <div class="gallery-slider__slide">
                                   <img alt="temp-alt" src="/img/reviews/Rectangle1447.png">
                              </div>
                         </div>
                    </div>
                    <div class="gallery-slide-next"></div>
               </div>



          </div>

          @include('../components/modal-close.html')
     </div>
</div>