<div class="modal order-popups order-popups-form" id="jsOrderingNewAddress">
    <div class="modal__inner">

    

        <div class="modal__content">
            <div class="modal__overhead">
                Ваш адрес для курьерской доставки

            </div>

            <div class="modal__container">
               <form action="" class="form form-validate">
                <div class="form-title">Новый адрес</div>

                <div class="input-row">
                    <div class="input-group">
                        <label>Город</label>
                        <input type="text" class="input" placeholder="Санкт-Петербург">
                        <div class="attention">
                            <i class="attention--icon"></i>
                            <div class="attention__content">
                                <div class="attention__content-text">
                                    Вы можете оформить доставку только в тот город, который выбрали на сайте
                                </div>
                                <a href="" class="button button--grey attention__close mobile-only">закрыть</a>
                            </div>
                        </div>
                    </div>
                </div>


                
                <div class="input-row">
                    <div class="input-group">
                        <label>Название адреса</label>
                        <input type="text" class="input" placeholder="Дом">
                        <ul class="types">
                            <li>
                                Дом
                            </li>
                            <li>
                                Офис
                            </li>
                            <li>
                                Работа
                            </li>
                            <li>
                                Гараж
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="input-row">
                    <div class="input-group">
                        <label>Адрес</label>
                        <div class="search-input__wrapper">
                            <input type="text" class="input" placeholder="Введите адрес">
                            <button class="search__icon --svg__search-grey"></button>

                            <div class="dropdown__search-result">
                                <ul>
                                    <li>
                                        <a href="">Самара</a>
                                    </li>
                                    <li>
                                        <a href="">Санкт-Петербург</a>
                                    </li>
                                    <li>
                                        <a href="">Саранск</a>
                                    </li>
                                    <li>
                                        <a href="">Саратов</a>
                                    </li>
                                    <li>
                                        <a href="">Саров</a>
                                    </li>
                                    <li>
                                        <a href="">Саянск</a>
                                    </li>
                                    <li>
                                        <a href="">Сандово</a>
                                    </li>
                                    <li>
                                        <a href="">Самара</a>
                                    </li>
                                    <li>
                                        <a href="">Санкт-Петербург</a>
                                    </li>
                                    <li>
                                        <a href="">Саранск</a>
                                    </li>
                                    <li>
                                        <a href="">Саратов</a>
                                    </li>
                                    <li>
                                        <a href="">Саров</a>
                                    </li>
                                    <li>
                                        <a href="">Саянск</a>
                                    </li>
                                    <li>
                                        <a href="">Сандово</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                       
                    </div>
                </div>





                
                <div class="input-row">
                    <div class="input-group">
                        <label>Квартика / офис *</label>
                        <input type="text" class="input" placeholder="156">
                        
                    </div>
                </div>




                
                <div class="input-row">
                    <div class="input-group">
                        <label>Комментарий</label>
                       
                        <textarea  placeholder="Ваш комментарий курьеру" class="input"></textarea>
                        
                    </div>
                </div>


                <div class="input-row buttons-wrap">
                    <button class="button button-submit">Сохранить </button>
                    <a href="Отмена" class="cancel">отмена</a>
                </div>
               </form>


            </div>

            
        </div>


        @include('../components/modal-close.html')



     
        
    </div>
</div>