<div class="modal order-popups modal-large--medium order-popups-pvz" id="jsOrdering2">
    <div class="modal__inner">

    

        <div class="modal__content">
            <div class="modal__overhead">
                Точки выдачи в Санкт-Петербурге
            </div>

            <div class="modal__container">
           

                <div class="search-field__wrapper">
                    <div class="search-field">
                        <input type="text" placeholder="Укажите название или адрес">
                        <button class="header__search-icon --svg__search"></button>
                    </div>

                    <a href="#" class="map-type map-type--list">
                        <svg>
                            <use xlink:href="/img/sprite-new.svg#list"></use>
                        </svg>
                        списком
                    </a>

                    <a href="#" class="map-type  map-type--map">
                        <svg>
                            <use xlink:href="/img/sprite-new.svg#geo"></use>
                        </svg>
                        на карте
                    </a>
                   
                </div>
              

                <ul class="shops-list">
                    <li class="shop-item">
                        <div class="in-stock__content">
                            <div class="in-stock__row ">
                                <div class="in-stock__type">СДЭК</div>
                            </div>
                            <div class="in-stock__row delivery-row">
                                <div class="delivery-price">
                                    <b>190 ₽</b>
                                    <span>доставка</span>
                                </div>
                                <div class="delivery-date">
                                    <b>17 февраля, пт</b>
                                    <span>срок доставки</span>
                                </div>
                            </div>
                            <div class="in-stock__row in-stock__row--mb-sm">
                                <div class="in-stock__name">г. Санкт-Петербург, Богатырский пр., д.14 к. 2 лит. Б
                                </div>
                            </div>
                            <div class="in-stock__row in-stock__row--mb-md">
                                <div class="in-stock__text">Пн-Сб: 10:00 – 19:00, Вс: 10:00 – 18:00</div>
                            </div>
    
                            <div class="in-stock__row">
                                <a href="tel:+78126003535" class="in-stock__link in-stock__link--big">+7 (812) 600-35-35</a>
                            </div>

                            <a href="" class="button select-btn">Выбрать</a>
                        </div>
                    </li>

                    <li class="shop-item">
                        <div class="in-stock__content">
                            <div class="in-stock__row ">
                                <div class="in-stock__type">СДЭК</div>
                            </div>
                            <div class="in-stock__row delivery-row">
                                <div class="delivery-price">
                                    <b>190 ₽</b>
                                    <span>доставка</span>
                                </div>
                                <div class="delivery-date">
                                    <b>17 февраля, пт</b>
                                    <span>срок доставки</span>
                                </div>
                            </div>
                            <div class="in-stock__row in-stock__row--mb-sm">
                                <div class="in-stock__name">г. Санкт-Петербург, Богатырский пр., д.14 к. 2 лит. Б
                                </div>
                            </div>
                            <div class="in-stock__row in-stock__row--mb-md">
                                <div class="in-stock__text">Пн-Сб: 10:00 – 19:00, Вс: 10:00 – 18:00</div>
                            </div>
    
                            <div class="in-stock__row">
                                <a href="tel:+78126003535" class="in-stock__link in-stock__link--big">+7 (812) 600-35-35</a>
                            </div>

                            <a href="" class="button select-btn select-btn--selected">Выбрано</a>
                        </div>
                    </li>

                </ul>


            </div>

            
        </div>


        <div id="map-modal2" class="modal__map modal__map--top-sm map-filter">

        </div>
        
        @include('../components/modal-close.html')
    </div>
</div>