<div class="modal order-popups jsOrdering" id="jsOrderingSingle">
    <div class="modal__inner">

    

        <div class="modal__content">
            <div class="modal__overhead modal__overhead--back">
                <button class="modal__back jsButtonBackModal">
                    <span class="modal__back-arrow --svg__back-arrow"></span>
                    назад
                </button>
            </div>

            <div class="modal__container">
                

           
              

                <ul class="shops-list">
                    <li class="shop-item">
                        <div class="in-stock__content in-stock__content--border-none">
                            <div class="in-stock__row ">
                                <div class="in-stock__type">СТО+магазин</div>
                            </div>
                            <div class="in-stock__row delivery-row">
                                <div class="delivery-price">
                                    <b>бесплатно</b>
                                    <span>доставка</span>
                                </div>
                                <div class="delivery-date">
                                    <b>17 февраля, пт</b>
                                    <span>срок доставки</span>
                                </div>
                            </div>
                            <div class="in-stock__row in-stock__row--mb-sm">
                                <div class="in-stock__name">г. Санкт-Петербург, Богатырский пр., д.14 к. 2 лит. Б
                                </div>
                                <div class="in-stock__text">
                                    (Автоцентр Маршал, пав. № 29 и № 40)
                                </div>
    
                            </div>
                            <div class="in-stock__row in-stock__row--mb-md">
                                <div class="in-stock__text">Пн-Сб: 10:00 – 19:00, Вс: 10:00 – 18:00</div>
                            </div>
    
                            <div class="in-stock__row">
                                <a href="tel:+78126003535" class="in-stock__link in-stock__link--big">+7 (812) 600-35-35</a>
                                <a href="mailto:magazin1@gmail.com" class="in-stock__link in-stock__link--big">magazin1@gmail.com</a>
                            </div>
                            <div class="in-stock__row">
                                <div class="in-stock__item">
                                    <svg class="in-stock__icon">
                                        <use xlink:href="/img/sprite.svg#css--check"></use>
                                    </svg>
                                    Есть СТО, есть авто-консультант
                                </div>
    
                            </div>

                            <div class="accordion">
                                <div class="accordion__overhead">
                                    В наличии 3 товара из 7
                                </div>
                                <div class="accordion__content">
                                  <div class="product-info">
                                    <div class="product-info__row">
                                        <div class="product-name">Фильтр масляный</div>
                                        <div class="product-price">
                                            <span class="price--old">
                                                1 шт.
                                            </span>
                                            1 047 ₽
                                        </div>
                                    </div>

                                    <div class="product-info__row">
                                        <div class="product-sku">Номер запчасти: 1882NKE601</div>
                                        <div class="product-country">LIFAN / Китай</div>
                                    </div>
                                    
                                  </div>


                                  <div class="product-info">
                                    <div class="product-info__row">
                                        <div class="product-name">Масло моторное MOBIL SUPER 3000 X1 5 W40 4 л.</div>
                                        <div class="product-price">
                                            <span class="price--old">
                                                1 шт.
                                            </span>
                                            2 578 ₽
                                        </div>
                                    </div>

                                    <div class="product-info__row">
                                        <div class="product-sku">Номер запчасти: 1882NKE601</div>
                                        <div class="product-country">LIFAN / Китай</div>
                                    </div>
                                    
                                  </div>


                                  <div class="product-info">
                                    <div class="product-info__row">
                                        <div class="product-name">Колодки тормозные задние дисковые к-кт X70 2017</div>
                                        <div class="product-price">
                                            <span class="price--old">
                                                2 шт.
                                            </span>
                                            2 802 ₽
                                        </div>
                                    </div>

                                    <div class="product-info__row">
                                        <div class="product-sku">Номер запчасти: 1882NKE601</div>
                                        <div class="product-country">LIFAN / Китай</div>
                                    </div>
                                    
                                  </div>


                                </div>
                            </div>

                            <a href="" class="button select-btn">Выбрать</a>
                        </div>
                    </li>

                  
                </ul>


            </div>

            
        </div>


    </div>
</div>