<div class="modal order-popups order-popups-addresses" id="jsOrdering3">
    <div class="modal__inner">

    

        <div class="modal__content">
            <div class="modal__overhead">
                Ваш адрес для курьерской доставки
            </div>

            <div class="modal__container">
                
                <a href="#" class="new-address">Добавить новый адрес</a>

                <span class="address-subtitle">Ранее вы заказывали на адреса</span>

                <ul class="shops-list">
                    <li class="shop-item">
                        
                        <div class="buttons-wrap">
                            <button class="edit-item"></button>
                            <button class="remove-item"></button>
                        </div>

                        <div class="in-stock__content">


                            <div class="in-stock__row ">
                                <div class="in-stock__type">дом</div>
                            </div>

                            <div class="in-stock__row delivery-row">
                                <div class="delivery-price">
                                    <b>290 ₽</b>
                                    <span>доставка</span>
                                </div>
                                <div class="delivery-date">
                                    <b>17 февраля, пт</b>
                                    <span>срок доставки</span>
                                </div>
                            </div>
                            <div class="in-stock__row in-stock__row--mb-none">
                                <div class="in-stock__name">г. Санкт-Петербург, ул. Территория, изъятая из земель подсобного хозяйства Всесоюзного центрального совета профессиональных союзов для организации крестьянского хозяйства, д. 61, кв 156</div>
                            </div>
                            <div class="in-stock__row in-stock__row--mb-md">
                                <div class="in-stock__text">Заказ смогу принять вечером после 18:00 и далее продолжение какого-то более длинного комментария, но не более 2-х строк и 140 символов</div>
                            </div>
    

                            <a href="" class="button select-btn">Выбрать</a>
                        </div>
                    </li>

                    <li class="shop-item">
                        <div class="buttons-wrap">
                            <button class="edit-item"></button>
                            <button class="remove-item"></button>
                        </div>
                        <div class="in-stock__content">
                            <div class="in-stock__row ">
                                <div class="in-stock__type">Офис</div>
                            </div>
                            <div class="in-stock__row delivery-row">
                                <div class="delivery-price">
                                    <b>290 ₽</b>
                                    <span>доставка</span>
                                </div>
                                <div class="delivery-date">
                                    <b>17 февраля, пт</b>
                                    <span>срок доставки</span>
                                </div>
                            </div>
                            <div class="in-stock__row in-stock__row--mb-none">
                                <div class="in-stock__name">г. Санкт-Петербург, Богатырский пр., д.14 к. 2 лит. Б
                                </div>
                            </div>
                            <div class="in-stock__row in-stock__row--mb-md">
                                <div class="in-stock__text">Поднимитесь на 2 этаж</div>
                            </div>
    

                            <a href="" class="button select-btn">Выбрать</a>
                        </div>
                    </li>

                </ul>


            </div>

            
        </div>


        <div id="map-modal3" class="modal__map map-filter">

        </div>
        
        @include('../components/modal-close.html')
    </div>
</div>