<div class="modal modal-large--medium order-popups jsOrdering" id="jsOrderingNotFound2">
    <div class="modal__inner">

    

        <div class="modal__content">
            <div class="modal__overhead">
                Ваш адрес для курьерской доставки
            </div>

            <div class="modal__container">
                

                
                <div class="not-found not-found--address">
                    <svg>
                        <use xlink:href="/img/sprite-new.svg#map-geo"></use>
                    </svg>

                    <h3>Добавьте адрес доставки</h3>
                    <span>Адрес сохранится и в следующий раз 
                        вам не придется его заново добавлять</span>
                    <a href="" class="button">Добавить новый адрес</a>
                </div>


            </div>

            
        </div>


        <div id="map-modal5" class="modal__map map-filter">

        </div>
        
        @include('../components/modal-close.html')
    </div>
</div>