<div class="modal order-popups jsOrdering" id="jsService">
    <div class="modal__inner">

    

        <div class="modal__content">
            <div class="modal__overhead">
                Выберите СТО
            </div>
            <div class="modal__container">

                <ul class="shops-list">
                    <li class="shop-item">
                        <div class="in-stock__content">
                            <div class="in-stock__row ">
                                <div class="in-stock__type">СТО+магазин</div>
                            </div>
                            <div class="in-stock__row in-stock__row--mb-sm">
                                <div class="in-stock__name">Санкт-Петербург, Маршала Жукова пр., д.21
                                </div>
                                <div class="in-stock__text">
                                    (Автоцентр Маршал, пав. № 29 и № 40)
                                </div>
    
                            </div>
                            <div class="in-stock__row in-stock__row--mb-md">
                                <div class="in-stock__text">Пн-Сб: 10:00 – 19:00, Вс: 10:00 – 18:00</div>
                            </div>
    
                            <div class="in-stock__row">
                                <a href="tel:+78126003535" class="in-stock__link in-stock__link--big">+7 (812) 600-35-35</a>
                                <a href="mailto:magazin1@gmail.com" class="in-stock__link in-stock__link--big">magazin1@gmail.com</a>
                            </div>
                            <div class="in-stock__row">
                                <div class="in-stock__item">
                                    <svg class="in-stock__icon">
                                        <use xlink:href="/img/sprite.svg#css--check"></use>
                                    </svg>
                                    Есть СТО, есть авто-консультант
                                </div>
                                <a href="#" class="in-stock__link in-stock__link--red">Записаться на СТО</a>
                            </div>

                        </div>
                    </li>

                    <li class="shop-item">
                        <div class="in-stock__content">
                            <div class="in-stock__row ">
                                <div class="in-stock__type">СТО+магазин</div>
                            </div>
                            <div class="in-stock__row in-stock__row--mb-sm">
                                <div class="in-stock__name">Санкт-Петербург, Маршала Жукова пр., д.21
                                </div>
                                <div class="in-stock__text">
                                    (Автоцентр Маршал, пав. № 29 и № 40)
                                </div>
    
                            </div>
                            <div class="in-stock__row in-stock__row--mb-md">
                                <div class="in-stock__text">Пн-Сб: 10:00 – 19:00, Вс: 10:00 – 18:00</div>
                            </div>
    
                            <div class="in-stock__row">
                                <a href="tel:+78126003535" class="in-stock__link in-stock__link--big">+7 (812) 600-35-35</a>
                                <a href="mailto:magazin1@gmail.com" class="in-stock__link in-stock__link--big">magazin1@gmail.com</a>
                            </div>
                            <div class="in-stock__row">
                                <div class="in-stock__item">
                                    <svg class="in-stock__icon">
                                        <use xlink:href="/img/sprite.svg#css--check"></use>
                                    </svg>
                                    Есть СТО, есть авто-консультант
                                </div>
                                <a href="#" class="in-stock__link in-stock__link--red">Записаться на СТО</a>

                            </div>

                        </div>
                    </li>

                    <li class="shop-item">
                        <div class="in-stock__content">
                            <div class="in-stock__row ">
                                <div class="in-stock__type">СТО+магазин</div>
                            </div>
                            <div class="in-stock__row in-stock__row--mb-sm">
                                <div class="in-stock__name">Санкт-Петербург, Маршала Жукова пр., д.21
                                </div>
                                <div class="in-stock__text">
                                    (Автоцентр Маршал, пав. № 29 и № 40)
                                </div>
    
                            </div>
                            <div class="in-stock__row in-stock__row--mb-md">
                                <div class="in-stock__text">Пн-Сб: 10:00 – 19:00, Вс: 10:00 – 18:00</div>
                            </div>
    
                            <div class="in-stock__row">
                                <a href="tel:+78126003535" class="in-stock__link in-stock__link--big">+7 (812) 600-35-35</a>
                                <a href="mailto:magazin1@gmail.com" class="in-stock__link in-stock__link--big">magazin1@gmail.com</a>
                            </div>
                            <div class="in-stock__row">
                                <div class="in-stock__item">
                                    <svg class="in-stock__icon">
                                        <use xlink:href="/img/sprite.svg#css--check"></use>
                                    </svg>
                                    Есть СТО, есть авто-консультант
                                </div>
                                <a href="#" class="in-stock__link in-stock__link--red">Записаться на СТО</a>
    
                            </div>

                        </div>
                    </li>

                    <li class="shop-item">
                        <div class="in-stock__content">
                            <div class="in-stock__row ">
                                <div class="in-stock__type">СТО+магазин</div>
                            </div>
                            <div class="in-stock__row in-stock__row--mb-sm">
                                <div class="in-stock__name">Санкт-Петербург, Маршала Жукова пр., д.21
                                </div>
                                <div class="in-stock__text">
                                    (Автоцентр Маршал, пав. № 29 и № 40)
                                </div>
    
                            </div>
                            <div class="in-stock__row in-stock__row--mb-md">
                                <div class="in-stock__text">Пн-Сб: 10:00 – 19:00, Вс: 10:00 – 18:00</div>
                            </div>
    
                            <div class="in-stock__row">
                                <a href="tel:+78126003535" class="in-stock__link in-stock__link--big">+7 (812) 600-35-35</a>
                                <a href="mailto:magazin1@gmail.com" class="in-stock__link in-stock__link--big">magazin1@gmail.com</a>
                            </div>
                            <div class="in-stock__row">
                                <div class="in-stock__item">
                                    <svg class="in-stock__icon">
                                        <use xlink:href="/img/sprite.svg#css--check"></use>
                                    </svg>
                                    Есть СТО, есть авто-консультант
                                </div>
                                <a href="#" class="in-stock__link in-stock__link--red">Записаться на СТО</a>
    
                            </div>

                        </div>
                    </li>

                    <li class="shop-item">
                        <div class="in-stock__content">
                            <div class="in-stock__row ">
                                <div class="in-stock__type">СТО+магазин</div>
                            </div>
                            <div class="in-stock__row in-stock__row--mb-sm">
                                <div class="in-stock__name">Санкт-Петербург, Маршала Жукова пр., д.21
                                </div>
                                <div class="in-stock__text">
                                    (Автоцентр Маршал, пав. № 29 и № 40)
                                </div>
    
                            </div>
                            <div class="in-stock__row in-stock__row--mb-md">
                                <div class="in-stock__text">Пн-Сб: 10:00 – 19:00, Вс: 10:00 – 18:00</div>
                            </div>
    
                            <div class="in-stock__row">
                                <a href="tel:+78126003535" class="in-stock__link in-stock__link--big">+7 (812) 600-35-35</a>
                                <a href="mailto:magazin1@gmail.com" class="in-stock__link in-stock__link--big">magazin1@gmail.com</a>
                            </div>
                            <div class="in-stock__row">
                                <div class="in-stock__item">
                                    <svg class="in-stock__icon">
                                        <use xlink:href="/img/sprite.svg#css--check"></use>
                                    </svg>
                                    Есть СТО, есть авто-консультант
                                </div>
                                <a href="#" class="in-stock__link in-stock__link--red">Записаться на СТО</a>
    
                            </div>

                        </div>
                    </li>

                    <li class="shop-item">
                        <div class="in-stock__content">
                            <div class="in-stock__row ">
                                <div class="in-stock__type">СТО+магазин</div>
                            </div>
                            <div class="in-stock__row in-stock__row--mb-sm">
                                <div class="in-stock__name">Санкт-Петербург, Маршала Жукова пр., д.21
                                </div>
                                <div class="in-stock__text">
                                    (Автоцентр Маршал, пав. № 29 и № 40)
                                </div>
    
                            </div>
                            <div class="in-stock__row in-stock__row--mb-md">
                                <div class="in-stock__text">Пн-Сб: 10:00 – 19:00, Вс: 10:00 – 18:00</div>
                            </div>
    
                            <div class="in-stock__row">
                                <a href="tel:+78126003535" class="in-stock__link in-stock__link--big">+7 (812) 600-35-35</a>
                                <a href="mailto:magazin1@gmail.com" class="in-stock__link in-stock__link--big">magazin1@gmail.com</a>
                            </div>
                            <div class="in-stock__row">
                                <div class="in-stock__item">
                                    <svg class="in-stock__icon">
                                        <use xlink:href="/img/sprite.svg#css--check"></use>
                                    </svg>
                                    Есть СТО, есть авто-консультант
                                </div>
                                <a href="#" class="in-stock__link in-stock__link--red">Записаться на СТО</a>
    
                            </div>

                        </div>
                    </li>
                </ul>


            </div>

            
        </div>


        <div id="map-modal2" class="modal__map map-filter">

        </div>
        
        @include('../components/modal-close.html')
    </div>
</div>