<div class="advantages">
    <div class="container">
        <div class="advantages__inner">
            <div class="advantages__item">
                <svg class="advantages__icon">
                    <use xlink:href="/img/sprite.svg#sprite--stile"></use>
                </svg>
                <div class="advantages__text">
                    <span>Контроль качества</span>
                    всех запчастей
                </div>
            </div>
            <div class="advantages__item">
                <svg class="advantages__icon">
                    <use xlink:href="/img/sprite.svg#sprite--stile"></use>
                </svg>
                <div class="advantages__text">
                    <span>Возврат 14 дней</span> без объяснения причины
                </div>
            </div>
            <div class="advantages__item">
                <svg class="advantages__icon">
                    <use xlink:href="/img/sprite.svg#sprite--stile"></use>
                </svg>
                <div class="advantages__text">
                    <span>Бесплатная доставка</span>
                    при заказе от 3 000 ₽
                </div>
            </div>
            <div class="advantages__item">
                <svg class="advantages__icon">
                    <use xlink:href="/img/sprite.svg#sprite--stile"></use>
                </svg>
                <div class="advantages__text">
                    Более <span>3 700 товаров</span>
                    всегда в наличии
                </div>
            </div>
        </div>
    </div>
</div>