<div class="bottom-panel">
    <button class="bottom-panel__item jsButtonCarsMobile" data-dropdown="jsCarsDropdown">
        <span class="bottom-panel__circle">
            <svg class="bottom-panel__icon">
                <use xlink:href="/img/sprite.svg#css--garage"></use>
            </svg>
        </span>
        <span class="bottom-panel__name">Гараж</span>
    </button>
    <button class="bottom-panel__item active">
        <span class="bottom-panel__circle">
            <svg class="bottom-panel__icon">
                <use xlink:href="/img/sprite.svg#css--catalog"></use>
            </svg>
        </span>
        <span class="bottom-panel__name">Каталог</span>
    </button>
    <button class="bottom-panel__item ">
        <span class="bottom-panel__circle">
            <svg class="bottom-panel__icon">
                <use xlink:href="/img/sprite.svg#css--heart"></use>
            </svg>
        </span>
        <span class="bottom-panel__name">Избранное</span>
    </button>
    <button class="bottom-panel__item jsBasketButtonMobile" data-dropdown="jsBasketDropdown">
        <span class="bottom-panel__circle">
            <span class="bottom-panel__notification"></span>
            <svg class="bottom-panel__icon">
                <use xlink:href="/img/sprite.svg#css--card"></use>
            </svg>
        </span>
        <span class="bottom-panel__name">Корзина</span>
    </button>
    <button class="bottom-panel__item jsAuthButtonMobile" data-popup="jsAuthDropdown">
        <span class="bottom-panel__circle">
            <svg class="bottom-panel__icon">
                <use xlink:href="/img/sprite.svg#css--user"></use>
            </svg>
        </span>
        <span class="bottom-panel__name">Войти</span>
    </button>
</div>