<div class="car-service">
    <div class="container">
        <h2 class="car-service__title">
            <span>Услуги <br> автосервиса</span>

            <a href="#" class="title-link">Все услуги</a>
        </h2>

        <div class="swiper car-service-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="car-service__item">
                        <div class="car-service__img-box">
                            <img alt="temp-alt" src="/img/picture.png" class="car-service__img">
                        </div>
                        <div class="car-service__inner">
                            <h3 class="car-service__name">
                                Ремонт
                            </h3>
                            <div class="car-service__text">
                                Производим ремонт любых китайских автомобилей быстро, качественно
                            </div>
                            <div class="car-service__text car-service__text--mb car-service__text--medium">
                                от 500 ₽
                            </div>
                            <a href="#" class="button car-service__button">Оценить стоимость</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="car-service__item">

                        <div class="car-service__inner">
                            <h3 class="car-service__name">
                                Ремонт
                            </h3>
                            <div class="car-service__text">
                                Производим ремонт любых китайских автомобилей быстро, качественно
                            </div>
                            <div class="car-service__text car-service__text--mb car-service__text--medium">
                                от 500 ₽
                            </div>
                            <a href="#" class="button car-service__button">Оценить стоимость</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="car-service__grid">
            <div class="car-service__item car-service__item--hidden">
                <div class="car-service__inner">
                    <h3 class="car-service__name">
                        Ремонт
                    </h3>
                    <div class="car-service__text">
                        Производим ремонт любых китайских автомобилей быстро, качественно
                    </div>
                    <div class="car-service__text car-service__text--mb car-service__text--medium">
                        от 500 ₽
                    </div>
                    <a href="#" class="button car-service__button">Оценить стоимость</a>
                </div>
            </div>
            <div class="car-service__item car-service__item--hidden" style="background-image: url('img/picture.png')">
            </div>
            <div class="car-service__item car-service__item--hidden">
                <div class="car-service__inner">
                    <h3 class="car-service__name">
                        ТО автомобиля
                    </h3>
                    <div class="car-service__text">
                        Профессионально обслужим ваш автомобиль, а заменим масло бесплатно
                    </div>
                    <div class="car-service__text car-service__text--medium car-service__text--mb">
                        от 2 500 ₽ за ТО
                    </div>
                    <a href="#" class="button car-service__button">Записаться на ТО</a>
                </div>
            </div>
            <div class="car-service__item car-service__item--grey car-service__item--hidden">
                <div class="car-service__inner">
                    <h3 class="car-service__name">
                        Другие услуги
                    </h3>
                    <div class="car-service__links">
                        <a href="#" class="car-service__link">
                            Диагностика
                        </a>
                        <a href="#" class="car-service__link">
                            Услуги эвакуатора
                        </a>
                        <a href="#" class="car-service__link">
                            Шиномонтаж
                        </a>
                        <a href="#" class="car-service__link">
                            Автомойка
                        </a>
                        <a href="#" class="car-service__link">
                            Развал-схождение
                        </a>
                    </div>
                </div>
            </div>
            <div class="car-service__item ">
                <div class="car-service__inner car-service__inner--mob">
                    <h3 class="car-service__name">
                        СТО на карте
                    </h3>
                    <div class="car-service__text">
                        Доступно 26 автосервисов
                    </div>
                    <a href="#" class="button car-service__button">Записаться</a>
                </div>
                <div class="car-service__inner car-service__inner--hidden">
                    <div class="car-service__name">
                        СТО на карте
                    </div>
                    <div class="car-service__text">
                        Производим ремонт любых китайских автомобилей быстро, качественно
                    </div>
                    <div class="car-service__stat">
                        Доступно 26 автосервисов
                    </div>
                    <a href="#" class="button car-service__button">Записаться в СТО</a>
                </div>
            </div>
            <div class="car-service__item car-service__map">
                <img alt="temp-alt" src="/img/service-map.png">
            </div>
        </div>

        <div class="car-service__content @descr">
            <div class="car-service__descr">
                «Китаяна» была организована на базе широко известной компании по обслуживанию корейских
                автомобилей,
                сеть магазинов и автосервисов которой более 20 лет успешно работает на территории Российской
                Федерации.
                <br> <br>
                «Китаяна» обладает обширной базой профессионального оборудования и укомплектована грамотными
                специалистами в сфере технического обслуживания автомобилей китайских брендов.


                Это даёт возможность проведения полного цикла обслуживания, ремонта и восстановления автомобилей
                при
                любых видах неисправностей и повреждений. Наши специалисты всегда помогут с подбором необходимых
                запчастей, приведут ваш автомобиль в соответствие со стандартами установленными заводом
                изготовителем.
            </div>

            <a href="#" class="car-service__link car-service__link--red">
                Подробнее
            </a>
        </div>
    </div>
</div>