<div class="car-service__content car-service__content--single">
    <div class="car-service__descr">

        «Китаяна» была организована на базе широко известной компании по обслуживанию корейских
        автомобилей,
        сеть магазинов и автосервисов которой более 20 лет успешно работает на территории Российской
        Федерации.
        <br> <br>
        «Китаяна» обладает обширной базой профессионального оборудования и укомплектована грамотными
        специалистами в сфере технического обслуживания автомобилей китайских брендов.


        Это даёт возможность проведения полного цикла обслуживания, ремонта и восстановления автомобилей
        при
        любых видах неисправностей и повреждений. Наши специалисты всегда помогут с подбором необходимых
        запчастей, приведут ваш автомобиль в соответствие со стандартами установленными заводом
        изготовителем.
    </div>

    <a href="#" class="car-service__link car-service__link--red">
        Подробнее
    </a>
</div>