<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__col footer__col--sm-w">
                <div class="footer__logo --svg__logo"></div>
                <div class="footer__text footer__text--md">
                    Запчасти для китайских
                    авто и автосервис
                </div>
                <a href="tel:78126003535" class="footer__contact-link footer__contact-link--red">
                    +7 (812) 600-35-35
                </a>
                <a href="mailto:china-parts@gmail.com" class="footer__contact-link">
                    china-parts@gmail.com
                </a>
                <div class="footer__socials">
                    <a href="#" class="footer__social --svg__vk"></a>
                    <a href="#" class="footer__social --svg__ok"></a>
                </div>
            </div>
            <div class="footer__col">
                <div class="footer__label">
                    Каталоги
                </div>
                <a href="#" class="footer__link">
                    Каталог запчастей
                </a>
                <a href="#" class="footer__link">
                    Каталог по марке авто
                </a>
                <a href="#" class="footer__link">
                    Запчасти для ТО
                </a>
                <a href="#" class="footer__link">
                    Каталог производителей
                </a>
                <a href="#" class="footer__link">
                    Шины и диски
                </a>
                <a href="#" class="footer__link">
                    Масла и жидкости
                </a>
                <a href="#" class="footer__link">
                    Все каталоги
                </a>
            </div>
            <div class="footer__col">
                <div class="footer__label">
                    Клиентам
                </div>
                <a href="#" class="footer__link">
                    Доставка и оплата
                </a>
                <a href="#" class="footer__link">
                    Гарантия и возврат
                </a>
                <a href="#" class="footer__link">
                    Порядок приёма товаров
                </a>
                <a href="#" class="footer__link">
                    Программа лояльности
                </a>
                <a href="#" class="footer__link">
                    Адреса магазинов и СТО
                </a>
                <a href="#" class="footer__link">
                    Услуги автосервиса
                </a>
                <a href="#" class="footer__link">
                    Помощь
                </a>
            </div>
            <div class="footer__col">
                <div class="footer__label">
                    О компании
                </div>
                <a href="#" class="footer__link">
                    О нас
                </a>
                <a href="#" class="footer__link">
                    Наша команда
                </a>
                <a href="#" class="footer__link">
                    Производители запчастей
                </a>
                <a href="#" class="footer__link">
                    Вакансии
                </a>
                <a href="#" class="footer__link">
                    Банковские реквизиты
                </a>
                <a href="#" class="footer__link">
                    Связаться с нами
                </a>
                <a href="#" class="footer__link">
                    Контакты
                </a>
            </div>
            <div class="footer__col">
                <div class="footer__label">
                    Информация
                </div>
                <a href="#" class="footer__link">
                    Блог
                </a>
                <a href="#" class="footer__link">
                    Новости
                </a>
                <a href="#" class="footer__link">
                    Акции
                </a>
                <a href="#" class="footer__link">
                    Правовая информация
                </a>
                <a href="#" class="footer__link">
                    Сертификаты
                </a>
                <a href="#" class="footer__link footer__link--md">
                    Сайт для оптовиков
                </a>

            </div>
        </div>
    </div>
    <div class="footer__companies">
        <div class="container">
            <div class="footer__row">
                <a href="" class="footer__company">
                    <img alt="temp-alt" src="/img/logos/lifan.png">
                </a>
                <a href="" class="footer__company">
                    <img alt="temp-alt" src="/img/logos/geely.png">
                </a>
                <a href="" class="footer__company">
                    <img alt="temp-alt" src="/img/logos/chery.png">
                </a>
                <a href="" class="footer__company">
                    <img alt="temp-alt" src="/img/logos/haval.png">
                </a>

                <a href="" class="footer__company">
                    <img alt="temp-alt" src="/img/logos/foton.png">
                </a>

                <a href="" class="footer__company">
                    <img alt="temp-alt" src="/img/logos/FAW1.png">
                </a>
                <a href="" class="footer__company">
                    <img alt="temp-alt" src="/img/logos/great-wall.png">
                </a>
                <a href="" class="footer__company">
                    <img alt="temp-alt" src="/img/logos/brilliance.png">
                </a>
                <a href="" class="footer__company">
                    <img alt="temp-alt" src="/img/logos/dongfeng.png">
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer__bottom">
            <div class="footer__text">
                © 2022 Китаяна. Все права защищены.
            </div>
            <div class="footer__payments">
                <img alt="temp-alt" src="/img/visa.svg" class="footer__payment-img">
                <img alt="temp-alt" src="/img/mastercard.svg" class="footer__payment-img">
                <img alt="temp-alt" src="/img/mir.svg" class="footer__payment-img">
            </div>
            <div class="footer__box">
                <div class="footer__text footer__text--sm">
                    Разработка сайта ARTW
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=0394cf48-2b84-4f42-9dbe-b5aa7af6d461&lang=ru_RU" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollToPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js"></script>
<script src="js/libs.js"></script>
<script src="js/main.js"></script>

</body>

</html>