<div class="help-selection">
    <div class="help-selection__box">
        <h3 class="help-selection__title">
            Помощь в подборе
            запчастей
        </h3>
        <div class="help-selection__text">
            Окажем помощь в подборе и покупке запчастей
        </div>
    </div>
    <div class="help-selection__box help-selection__box--py-md help-selection__box--bordered">
        <div class="help-selection__expert">
            <img alt="temp-alt" src="/img/avatar.png" class="help-selection__photo">
            <div class="help-selection__info">
                <div class="help-selection__name">Дмитрий</div>
                <div class="help-selection__position">Автоэксперт</div>
            </div>
        </div>
    </div>
    <div class="help-selection__box help-selection__box--py-md">
        <div class="help-selection__title">
            Заказать звонок эксперту
        </div>
        <div class="help-selection__text">
            Оставьте номер телефона и эксперт перезвонит и сделает точный подбор нужной детали
        </div>
    </div>

    <div class="help-selection__box help-selection__form">
        <form action="#" class="form-validate">
            <div class="input-wrap">
                <label>Имя *</label>
                <input type="text" placeholder="Ваше имя" data-required class="input input--dark">
            </div>

            <div class="input-wrap">
                <label>Телефон *</label>
                <input type="tel" placeholder="+7 (000) 000-00-00" data-required class="input input--dark">
            </div>

            <label for="ch22" class="checkbox">
                <input id="ch22" class="checkbox__input" type="checkbox" checked="">
                <span class="checkbox-wrap">
                    <span class="check-sign check-part-1"></span>
                    <span class="check-sign check-part-2"></span>
                </span>
                <span class="checkbox__name">Я согласен с <a href="">условиями</a> передачи данных</span>
            </label>

            <button class="button submit">Заказать звонок</button>
        </form>

        <p>с 10:00 до 20:00 (мск)</p>
    </div>
</div>