<div class="filters-mob">
    <div class="filters-mob__row">
        <form class="search filters-mob__search">
            <input type="text" class="search__input" placeholder="Введите номер запчасти">
            <button class="search__icon --svg__search-grey"></button>
        </form>
        <button class="filters-mob__button jsBtnFilter">
            <span class="filters-mob__button-count">
                3
            </span>
            <span class="filters-mob__icon --svg__filter"></span>
        </button>
    </div>
    <div class="filters-mob__items">
        <button class="filters-mob__item filter-link arrow-top">
            Наличие
            <span class="parts-list__icon --svg__arrow_filter"></span>
            <span class="parts-list__icon --svg__arrow_filter-bottom"></span>
        </button>
        <button class="filters-mob__item filter-link">
            Срок пост.
            <span class="parts-list__icon --svg__arrow_filter"></span>
            <span class="parts-list__icon --svg__arrow_filter-bottom"></span>
        </button>
        <button class="filters-mob__item filter-link">
            Цена
            <span class="parts-list__icon --svg__arrow_filter"></span>
            <span class="parts-list__icon --svg__arrow_filter-bottom"></span>
        </button>
    </div>
</div>