@if (step === '1'){
<div class="model-select">
    <div class="container">
        <div class="steps">
            <div class="step">
                <div class="step-number">
                    1
                </div>

                <div class="step-text">
                    <div class="step-title">Выбор марки</div>
                    <div class="step-subtitle">Выберите марку</div>
                </div>
            </div>


            <a href="" class="step-link step-link--disable">
                <span class="arrow"></span>
                <span>вперед</span>
            </a>

            <div class="step step--disable">
                <div class="step-number">
                    2
                </div>

                <div class="step-text">
                    <div class="step-title">Выбор модели</div>
                    <div class="step-subtitle">Выберите модель</div>
                </div>
            </div>
        </div>

        <div class="search-input">
            <input type="text" placeholder="Например – Chery">
            <button class="search-btn --svg__search">
            </button>
        </div>

    </div>
</div>
}
@if (step === '2'){
<div class="model-select model-select--pt-sm">
    <div class="container">
        <div class="steps">
            <div class="step step--disable">
                <div class="step-number">
                    1
                </div>

                <div class="step-text">
                    <div class="step-title">Выбор марки</div>
                    <div class="step-subtitle">Выберите марку</div>
                </div>
            </div>


            <a href="" class="step-link">
                <span class="arrow arrow--back"></span>
                <span>назад</span>
            </a>

            <div class="step">
                <div class="step-number">
                    2
                </div>

                <div class="step-text">
                    <div class="step-title">Выбор модели</div>
                    <div class="step-subtitle">Выберите модель</div>
                </div>
            </div>
        </div>

        <div class="search-input">
            <input type="text" placeholder="Например – Chery">
            <button class="search-btn --svg__search">
            </button>
        </div>

    </div>
</div>
}