<div class="overhead" id="original">
    <h2 class="title">Оригинальные и аналоговые детали</h2>
    <div class="text"> Найдено 67</div>
</div>

<div class="parts-list-wrapper">
    <div class="parts-list">
        <div class="parts-list__overhead">
            <div class="parts-list__box">
                <div class="parts-list__name">Особенности</div>
            </div>
            <a href="# " class="parts-list__box filter-link arrow-top">
                <div class="parts-list__name">Наличие</div>
                <span class="parts-list__icon --svg__arrow_filter"></span>
                <span class="parts-list__icon --svg__arrow_filter-bottom"></span>
            </a>
            <a href="#" class="parts-list__box filter-link">
                <div class="parts-list__name">Срок пост.</div>
                <span class="parts-list__icon --svg__arrow_filter"></span>
                <span class="parts-list__icon --svg__arrow_filter-bottom"></span>
            </a>
            <a href="" class="parts-list__box filter-link">
                <div class="parts-list__name">Цена</div>
                <span class="parts-list__icon --svg__arrow_filter"></span>
                <span class="parts-list__icon --svg__arrow_filter-bottom"></span>
            </a>
        </div>
        <div class="parts-item parts-list__item">

            <div class="parts-item__wrapper parts-item__wrapper--pb parts-item__main ">
                <div class="parts-item__preview">

                    <div class="parts-item__top">
                        <button class="parts-item__favorite">
                            <svg class="heart__favorite spares-card__favorite" viewBox="0 0 26 26">
                                <g class="heart-fill-back">
                                    <path class="b"
                                        d="M19.18,0c-2.74,0-5.09,1.24-6.18,3.57C11.91,1.24,9.56,0,6.82,0,3.05,0,0,3.05,0,6.82s4.16,6.92,6.82,9.58c2.34,2.34,6.18,6.19,6.18,6.19,0,0,4.29-4.3,6.18-6.19,2.66-2.66,6.82-5.81,6.82-9.58S22.95,0,19.18,0Z" />
                                </g>
                                <g class="heart-stroke" fill="#000000">
                                    <path
                                        d="M19.18,1.8c2.77,0,5.02,2.25,5.02,5.02,0,2.35-2.55,4.76-4.8,6.88-.52,.49-1.03,.97-1.49,1.43-1.23,1.23-3.49,3.49-4.91,4.92-1.33-1.33-3.42-3.43-4.91-4.92-.46-.46-.97-.94-1.49-1.43C4.35,11.58,1.8,9.17,1.8,6.82,1.8,4.05,4.05,1.8,6.82,1.8c2.14,0,3.8,.92,4.55,2.53,.3,.63,.93,1.04,1.63,1.04s1.34-.41,1.63-1.04c.75-1.61,2.41-2.53,4.55-2.53m0-1.8c-2.74,0-5.09,1.24-6.18,3.57C11.91,1.24,9.56,0,6.82,0,3.05,0,0,3.05,0,6.82s4.16,6.92,6.82,9.58c2.34,2.34,6.18,6.19,6.18,6.19,0,0,4.29-4.3,6.18-6.19,2.66-2.66,6.82-5.81,6.82-9.58S22.95,0,19.18,0h0Z" />
                                </g>
                                <g class="heart-fill">
                                    <path class="b"
                                        d="M19.18,0c-2.74,0-5.09,1.24-6.18,3.57C11.91,1.24,9.56,0,6.82,0,3.05,0,0,3.05,0,6.82s4.16,6.92,6.82,9.58c2.34,2.34,6.18,6.19,6.18,6.19,0,0,4.29-4.3,6.18-6.19,2.66-2.66,6.82-5.81,6.82-9.58S22.95,0,19.18,0Z" />
                                </g>
                            </svg>
                        </button>
                    </div>

                    <img alt="temp-alt" src="/img/photo.png" class="parts-item__img">

                    <div class="product__type-hint">
                        ОРИГИНАЛ
                    </div>

                </div>

                <div class="parts-item__characteristics">
                    <a href="#" class="parts-item__title">
                        Фильтр масляный D4060-JA00A
                    </a>
                    <div class="parts-item__text-wrap">
                        <div class="parts-item__text parts-item__text--black-light parts-item__manufacturer">
                            D4060-JA00A D4060-JA00A D4060-JA00A D4060-JA00A
                        </div>
                        <div class="parts-item__text parts-item__text--black-light parts-item__manufacturer">
                            Geely / Китай
                        </div>
                    </div>
                    <button class="parts-item__button-cart parts-item__button" data-popup="jsByOneClick">
                        купить в 1 клик
                    </button>
                    <div class="parts-item__items">
                        <div class="parts-item__item parts-item__item--start parts-item__item--mb">
                            <svg class="icon parts-item__icon">
                                <use xlink:href="/img/sprite.svg#sprite--car-forward"></use>
                            </svg>
                            <a href="#" data-popup="jsApplicabilityModal" class="parts-item__text">
                                Применяемость
                            </a>
                        </div>
                        <div class="parts-item__item parts-item__item--start">
                            <svg class="icon parts-item__icon">
                                <use xlink:href="/img/sprite.svg#sprite--star"></use>
                            </svg>
                            <a href="#" class="parts-item__text">
                                <span>4,8</span>
                                <div>(9 отзывов)</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="parts-item__list">
                <div class="parts-item__row">
                    <div class="parts-item__box  ">
                        <a href="#" data-popup="jsInStockModal" class="parts-item__text parts-item__text--dotted">
                            В наличии: <span>4 шт.</span>
                        </a>
                    </div>
                    <div class="parts-item__box  ">
                        <div class="parts-item__text">
                            от <span>сегодня</span>
                        </div>
                    </div>
                    <div class="parts-item__wrapper">
                        <div class="parts-item__box  ">
                            <div class="parts-item__text parts-item__text--md">
                                1 201 ₽
                            </div>
                        </div>

                        <div class="quantity-wrapper">


                            @include('components/cart-btn-grey.html')
                        </div>






                    </div>
                </div>
                <div class="parts-item__row">
                    <div class="parts-item__box  ">
                        <a href="#" data-popup="jsInStockModal" class="parts-item__text parts-item__text--dotted">
                            В наличии: <span>4 шт.</span>
                        </a>
                    </div>
                    <div class="parts-item__box  ">
                        <div class="parts-item__text">
                            от <span>сегодня</span>
                        </div>
                    </div>
                    <div class="parts-item__wrapper">
                        <div class="parts-item__box  ">
                            <div class="parts-item__text parts-item__text--md">
                                1 201 ₽
                            </div>
                        </div>
                        <div class="quantity-wrapper">


                            @include('components/cart-btn-grey.html')
                        </div>
                    </div>
                </div>
                <div class="parts-item__row">
                    <div class="parts-item__box  ">
                        <a href="#" data-popup="jsInStockModal" class="parts-item__text parts-item__text--dotted">
                            В наличии: <span>4 шт.</span>
                        </a>
                    </div>
                    <div class="parts-item__box  ">
                        <div class="parts-item__text">
                            от <span>сегодня</span>
                        </div>
                    </div>
                    <div class="parts-item__wrapper">
                        <div class="parts-item__price-box">
                            <div class="parts-item__text parts-item__text--md">
                                1 201 ₽
                            </div>
                            <div class="parts-item__old-price">
                                1971 ₽
                            </div>
                        </div>

                        <div class="parts-item__discount parts-item__discount--green parts-item__discount--ml">
                            –5%
                        </div>
                        <svg class="icon parts-item__discount-icon">
                            <use xlink:href="/img/sprite.svg#sprite--discount"></use>
                        </svg>
                        <div class="quantity-wrapper">


                            @include('components/cart-btn-grey.html')
                        </div>
                    </div>
                </div>
                <div class="parts-item__row">
                    <div class="parts-item__box  ">
                        <a href="#" data-popup="jsInStockModal" class="parts-item__text parts-item__text--dotted">
                            В наличии: <span>4 шт.</span>
                        </a>
                    </div>
                    <div class="parts-item__box  ">
                        <div class="parts-item__text">
                            от <span>сегодня</span>
                        </div>
                    </div>
                    <div class="parts-item__wrapper">
                        <div class="parts-item__price-box">
                            <div class="parts-item__text parts-item__text--md">
                                1 201 ₽
                            </div>
                            <div class="parts-item__old-price">
                                1971 ₽
                            </div>
                        </div>

                        <div class="parts-item__discount parts-item__discount--orange parts-item__discount--ml">
                            –30%
                        </div>
                        <div class="quantity-wrapper">


                            @include('components/cart-btn-grey.html')
                        </div>
                    </div>
                </div>
                <div class="parts-item__row">
                    <div class="parts-item__box  parts-item__text--dotted">
                        <div class="parts-item__text">
                            На складах: <span>4 шт.</span>
                        </div>
                    </div>
                    <div class="parts-item__box  ">
                        <div class="parts-item__text">
                            от <span>17 марта, пт</span>
                        </div>
                    </div>
                    <div class="parts-item__wrapper">
                        <div class="parts-item__text parts-item__text--md">
                            от 1 305 ₽
                        </div>

                        <button class="parts-item__button parts-item__button--grey" data-popup="jsSuppliersModal">
                            показать
                            <svg class="parts-item__button-icon">
                                <use xlink:href="/img/sprite.svg#sprite--arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>

            </div>

        </div>
        <div class="parts-item parts-list__item">

            <div class="parts-item__wrapper parts-item__wrapper--pb parts-item__main ">
                <div class="parts-item__preview">

                    <div class="parts-item__top">
                        <button class="parts-item__favorite">
                            <svg class="heart__favorite spares-card__favorite" viewBox="0 0 26 26">
                                <g class="heart-fill-back">
                                    <path class="b"
                                        d="M19.18,0c-2.74,0-5.09,1.24-6.18,3.57C11.91,1.24,9.56,0,6.82,0,3.05,0,0,3.05,0,6.82s4.16,6.92,6.82,9.58c2.34,2.34,6.18,6.19,6.18,6.19,0,0,4.29-4.3,6.18-6.19,2.66-2.66,6.82-5.81,6.82-9.58S22.95,0,19.18,0Z" />
                                </g>
                                <g class="heart-stroke" fill="#000000">
                                    <path
                                        d="M19.18,1.8c2.77,0,5.02,2.25,5.02,5.02,0,2.35-2.55,4.76-4.8,6.88-.52,.49-1.03,.97-1.49,1.43-1.23,1.23-3.49,3.49-4.91,4.92-1.33-1.33-3.42-3.43-4.91-4.92-.46-.46-.97-.94-1.49-1.43C4.35,11.58,1.8,9.17,1.8,6.82,1.8,4.05,4.05,1.8,6.82,1.8c2.14,0,3.8,.92,4.55,2.53,.3,.63,.93,1.04,1.63,1.04s1.34-.41,1.63-1.04c.75-1.61,2.41-2.53,4.55-2.53m0-1.8c-2.74,0-5.09,1.24-6.18,3.57C11.91,1.24,9.56,0,6.82,0,3.05,0,0,3.05,0,6.82s4.16,6.92,6.82,9.58c2.34,2.34,6.18,6.19,6.18,6.19,0,0,4.29-4.3,6.18-6.19,2.66-2.66,6.82-5.81,6.82-9.58S22.95,0,19.18,0h0Z" />
                                </g>
                                <g class="heart-fill">
                                    <path class="b"
                                        d="M19.18,0c-2.74,0-5.09,1.24-6.18,3.57C11.91,1.24,9.56,0,6.82,0,3.05,0,0,3.05,0,6.82s4.16,6.92,6.82,9.58c2.34,2.34,6.18,6.19,6.18,6.19,0,0,4.29-4.3,6.18-6.19,2.66-2.66,6.82-5.81,6.82-9.58S22.95,0,19.18,0Z" />
                                </g>
                            </svg>
                        </button>
                    </div>

                    <img alt="temp-alt" src="/img/photo.png" class="parts-item__img">

                    <div class="product__type-hint">
                       Оригинал
                    </div>

                </div>

                <div class="parts-item__characteristics">
                    <a href="#" class="parts-item__title">
                        Фильтр масляный D4060-JA00A
                    </a>
                    <div class="parts-item__text-wrap">
                        <div class="parts-item__text parts-item__text--black-light parts-item__manufacturer">
                            D4060-JA00A D4060-JA00A D4060-JA00A D4060-JA00A
                        </div>
                        <div class="parts-item__text parts-item__text--black-light parts-item__manufacturer">
                            Geely / Китай
                        </div>
                    </div>
                    <button class="parts-item__button-cart parts-item__button" data-popup="jsByOneClick">
                        купить в 1 клик
                    </button>
                    <div class="parts-item__items">
                        <div class="parts-item__item parts-item__item--start parts-item__item--mb">
                            <svg class="icon parts-item__icon">
                                <use xlink:href="/img/sprite.svg#sprite--car-forward"></use>
                            </svg>
                            <a href="#" data-popup="jsApplicabilityModal" class="parts-item__text">
                                Применяемость
                            </a>
                        </div>
                        <div class="parts-item__item parts-item__item--start">
                            <svg class="icon parts-item__icon">
                                <use xlink:href="/img/sprite.svg#sprite--star"></use>
                            </svg>
                            <a href="#" class="parts-item__text">
                                <span>4,8</span>
                                <div>(9 отзывов)</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="parts-item__list">
                <div class="parts-item__row">
                    <div class="parts-item__box  ">
                        <a href="#" data-popup="jsInStockModal" class="parts-item__text parts-item__text--dotted">
                            В наличии: <span>4 шт.</span>
                        </a>
                    </div>
                    <div class="parts-item__box  ">
                        <div class="parts-item__text">
                            от <span>сегодня</span>
                        </div>
                    </div>
                    <div class="parts-item__wrapper">
                        <div class="parts-item__box  ">
                            <div class="parts-item__text parts-item__text--md">
                                1 201 ₽
                            </div>
                        </div>

                        <div class="quantity-wrapper">


                            @include('components/cart-btn-grey.html')
                        </div>






                    </div>
                </div>
                <div class="parts-item__row">
                    <div class="parts-item__box  ">
                        <a href="#" data-popup="jsInStockModal" class="parts-item__text parts-item__text--dotted">
                            В наличии: <span>4 шт.</span>
                        </a>
                    </div>
                    <div class="parts-item__box  ">
                        <div class="parts-item__text">
                            от <span>сегодня</span>
                        </div>
                    </div>
                    <div class="parts-item__wrapper">
                        <div class="parts-item__box  ">
                            <div class="parts-item__text parts-item__text--md">
                                1 201 ₽
                            </div>
                        </div>
                        <div class="quantity-wrapper">


                            @include('components/cart-btn-grey.html')
                        </div>
                    </div>
                </div>
                <div class="parts-item__row">
                    <div class="parts-item__box  ">
                        <a href="#" data-popup="jsInStockModal" class="parts-item__text parts-item__text--dotted">
                            В наличии: <span>4 шт.</span>
                        </a>
                    </div>
                    <div class="parts-item__box  ">
                        <div class="parts-item__text">
                            от <span>сегодня</span>
                        </div>
                    </div>
                    <div class="parts-item__wrapper">
                        <div class="parts-item__price-box">
                            <div class="parts-item__text parts-item__text--md">
                                1 201 ₽
                            </div>
                            <div class="parts-item__old-price">
                                1971 ₽
                            </div>
                        </div>

                        <div class="parts-item__discount parts-item__discount--green parts-item__discount--ml">
                            –5%
                        </div>
                        <svg class="icon parts-item__discount-icon">
                            <use xlink:href="/img/sprite.svg#sprite--discount"></use>
                        </svg>
                        <div class="quantity-wrapper">


                            @include('components/cart-btn-grey.html')
                        </div>
                    </div>
                </div>
                <div class="parts-item__row">
                    <div class="parts-item__box  ">
                        <a href="#" data-popup="jsInStockModal" class="parts-item__text parts-item__text--dotted">
                            В наличии: <span>4 шт.</span>
                        </a>
                    </div>
                    <div class="parts-item__box  ">
                        <div class="parts-item__text">
                            от <span>сегодня</span>
                        </div>
                    </div>
                    <div class="parts-item__wrapper">
                        <div class="parts-item__price-box">
                            <div class="parts-item__text parts-item__text--md">
                                1 201 ₽
                            </div>
                            <div class="parts-item__old-price">
                                1971 ₽
                            </div>
                        </div>

                        <div class="parts-item__discount parts-item__discount--orange parts-item__discount--ml">
                            –30%
                        </div>
                        <div class="quantity-wrapper">


                            @include('components/cart-btn-grey.html')
                        </div>
                    </div>
                </div>
             
            </div>

        </div>
        <div class="parts-item parts-list__item">

            <div class="parts-item__wrapper parts-item__wrapper--pb parts-item__main ">
                <div class="parts-item__preview">

                    <div class="parts-item__top">
                        <button class="parts-item__favorite">
                            <svg class="heart__favorite spares-card__favorite" viewBox="0 0 26 26">
                                <g class="heart-fill-back">
                                    <path class="b"
                                        d="M19.18,0c-2.74,0-5.09,1.24-6.18,3.57C11.91,1.24,9.56,0,6.82,0,3.05,0,0,3.05,0,6.82s4.16,6.92,6.82,9.58c2.34,2.34,6.18,6.19,6.18,6.19,0,0,4.29-4.3,6.18-6.19,2.66-2.66,6.82-5.81,6.82-9.58S22.95,0,19.18,0Z" />
                                </g>
                                <g class="heart-stroke" fill="#000000">
                                    <path
                                        d="M19.18,1.8c2.77,0,5.02,2.25,5.02,5.02,0,2.35-2.55,4.76-4.8,6.88-.52,.49-1.03,.97-1.49,1.43-1.23,1.23-3.49,3.49-4.91,4.92-1.33-1.33-3.42-3.43-4.91-4.92-.46-.46-.97-.94-1.49-1.43C4.35,11.58,1.8,9.17,1.8,6.82,1.8,4.05,4.05,1.8,6.82,1.8c2.14,0,3.8,.92,4.55,2.53,.3,.63,.93,1.04,1.63,1.04s1.34-.41,1.63-1.04c.75-1.61,2.41-2.53,4.55-2.53m0-1.8c-2.74,0-5.09,1.24-6.18,3.57C11.91,1.24,9.56,0,6.82,0,3.05,0,0,3.05,0,6.82s4.16,6.92,6.82,9.58c2.34,2.34,6.18,6.19,6.18,6.19,0,0,4.29-4.3,6.18-6.19,2.66-2.66,6.82-5.81,6.82-9.58S22.95,0,19.18,0h0Z" />
                                </g>
                                <g class="heart-fill">
                                    <path class="b"
                                        d="M19.18,0c-2.74,0-5.09,1.24-6.18,3.57C11.91,1.24,9.56,0,6.82,0,3.05,0,0,3.05,0,6.82s4.16,6.92,6.82,9.58c2.34,2.34,6.18,6.19,6.18,6.19,0,0,4.29-4.3,6.18-6.19,2.66-2.66,6.82-5.81,6.82-9.58S22.95,0,19.18,0Z" />
                                </g>
                            </svg>
                        </button>
                    </div>

                    <img alt="temp-alt" src="/img/photo.png" class="parts-item__img">

                    <div class="product__type-hint">
                       Аналог
                    </div>

                </div>

                <div class="parts-item__characteristics">
                    <a href="#" class="parts-item__title">
                        Фильтр масляный D4060-JA00A
                    </a>
                    <div class="parts-item__text-wrap">
                        <div class="parts-item__text parts-item__text--black-light parts-item__manufacturer">
                            D4060-JA00A D4060-JA00A D4060-JA00A D4060-JA00A
                        </div>
                        <div class="parts-item__text parts-item__text--black-light parts-item__manufacturer">
                            Geely / Китай
                        </div>
                    </div>
                    <button class="parts-item__button-cart parts-item__button" data-popup="jsByOneClick">
                        купить в 1 клик
                    </button>
                    <div class="parts-item__items">
                        <div class="parts-item__item parts-item__item--start parts-item__item--mb">
                            <svg class="icon parts-item__icon">
                                <use xlink:href="/img/sprite.svg#sprite--car-forward"></use>
                            </svg>
                            <a href="#" data-popup="jsApplicabilityModal" class="parts-item__text">
                                Применяемость
                            </a>
                        </div>
                        <div class="parts-item__item parts-item__item--start">
                            <svg class="icon parts-item__icon">
                                <use xlink:href="/img/sprite.svg#sprite--star"></use>
                            </svg>
                            <a href="#" class="parts-item__text">
                                <span>4,8</span>
                                <div>(9 отзывов)</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="parts-item__list">
                <div class="parts-item__row">
                    <div class="parts-item__box  ">
                        <a href="#" data-popup="jsInStockModal" class="parts-item__text parts-item__text--dotted">
                            В наличии: <span>4 шт.</span>
                        </a>
                    </div>
                    <div class="parts-item__box  ">
                        <div class="parts-item__text">
                            от <span>сегодня</span>
                        </div>
                    </div>
                    <div class="parts-item__wrapper">
                        <div class="parts-item__box  ">
                            <div class="parts-item__text parts-item__text--md">
                                1 201 ₽
                            </div>
                        </div>

                        <div class="quantity-wrapper">


                            @include('components/cart-btn-grey.html')
                        </div>






                    </div>
                </div>
                <div class="parts-item__row">
                    <div class="parts-item__box  ">
                        <a href="#" data-popup="jsInStockModal" class="parts-item__text parts-item__text--dotted">
                            В наличии: <span>4 шт.</span>
                        </a>
                    </div>
                    <div class="parts-item__box  ">
                        <div class="parts-item__text">
                            от <span>сегодня</span>
                        </div>
                    </div>
                    <div class="parts-item__wrapper">
                        <div class="parts-item__box  ">
                            <div class="parts-item__text parts-item__text--md">
                                1 201 ₽
                            </div>
                        </div>
                        <div class="quantity-wrapper">


                            @include('components/cart-btn-grey.html')
                        </div>
                    </div>
                </div>
                <div class="parts-item__row">
                    <div class="parts-item__box  ">
                        <a href="#" data-popup="jsInStockModal" class="parts-item__text parts-item__text--dotted">
                            В наличии: <span>4 шт.</span>
                        </a>
                    </div>
                    <div class="parts-item__box  ">
                        <div class="parts-item__text">
                            от <span>сегодня</span>
                        </div>
                    </div>
                    <div class="parts-item__wrapper">
                        <div class="parts-item__price-box">
                            <div class="parts-item__text parts-item__text--md">
                                1 201 ₽
                            </div>
                            <div class="parts-item__old-price">
                                1971 ₽
                            </div>
                        </div>

                        <div class="parts-item__discount parts-item__discount--green parts-item__discount--ml">
                            –5%
                        </div>
                        <svg class="icon parts-item__discount-icon">
                            <use xlink:href="/img/sprite.svg#sprite--discount"></use>
                        </svg>
                        <div class="quantity-wrapper">


                            @include('components/cart-btn-grey.html')
                        </div>
                    </div>
                </div>
                <div class="parts-item__row">
                    <div class="parts-item__box  ">
                        <a href="#" data-popup="jsInStockModal" class="parts-item__text parts-item__text--dotted">
                            В наличии: <span>4 шт.</span>
                        </a>
                    </div>
                    <div class="parts-item__box  ">
                        <div class="parts-item__text">
                            от <span>сегодня</span>
                        </div>
                    </div>
                    <div class="parts-item__wrapper">
                        <div class="parts-item__price-box">
                            <div class="parts-item__text parts-item__text--md">
                                1 201 ₽
                            </div>
                            <div class="parts-item__old-price">
                                1971 ₽
                            </div>
                        </div>

                        <div class="parts-item__discount parts-item__discount--orange parts-item__discount--ml">
                            –30%
                        </div>
                        <div class="quantity-wrapper">


                            @include('components/cart-btn-grey.html')
                        </div>
                    </div>
                </div>
                <div class="parts-item__row">
                    <div class="parts-item__box  parts-item__text--dotted">
                        <div class="parts-item__text">
                            На складах: <span>4 шт.</span>
                        </div>
                    </div>
                    <div class="parts-item__box  ">
                        <div class="parts-item__text">
                            от <span>17 марта, пт</span>
                        </div>
                    </div>
                    <div class="parts-item__wrapper">
                        <div class="parts-item__text parts-item__text--md">
                            от 1 305 ₽
                        </div>

                        <button class="parts-item__button parts-item__button--grey" data-popup="jsSuppliersModal">
                            показать
                            <svg class="parts-item__button-icon">
                                <use xlink:href="/img/sprite.svg#sprite--arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>

            </div>

        </div>
        <div class="parts-item parts-list__item">

            <div class="parts-item__wrapper parts-item__wrapper--pb parts-item__main ">
                <div class="parts-item__preview">

                    <div class="parts-item__top">
                        <button class="parts-item__favorite">
                            <svg class="heart__favorite spares-card__favorite" viewBox="0 0 26 26">
                                <g class="heart-fill-back">
                                    <path class="b"
                                        d="M19.18,0c-2.74,0-5.09,1.24-6.18,3.57C11.91,1.24,9.56,0,6.82,0,3.05,0,0,3.05,0,6.82s4.16,6.92,6.82,9.58c2.34,2.34,6.18,6.19,6.18,6.19,0,0,4.29-4.3,6.18-6.19,2.66-2.66,6.82-5.81,6.82-9.58S22.95,0,19.18,0Z" />
                                </g>
                                <g class="heart-stroke" fill="#000000">
                                    <path
                                        d="M19.18,1.8c2.77,0,5.02,2.25,5.02,5.02,0,2.35-2.55,4.76-4.8,6.88-.52,.49-1.03,.97-1.49,1.43-1.23,1.23-3.49,3.49-4.91,4.92-1.33-1.33-3.42-3.43-4.91-4.92-.46-.46-.97-.94-1.49-1.43C4.35,11.58,1.8,9.17,1.8,6.82,1.8,4.05,4.05,1.8,6.82,1.8c2.14,0,3.8,.92,4.55,2.53,.3,.63,.93,1.04,1.63,1.04s1.34-.41,1.63-1.04c.75-1.61,2.41-2.53,4.55-2.53m0-1.8c-2.74,0-5.09,1.24-6.18,3.57C11.91,1.24,9.56,0,6.82,0,3.05,0,0,3.05,0,6.82s4.16,6.92,6.82,9.58c2.34,2.34,6.18,6.19,6.18,6.19,0,0,4.29-4.3,6.18-6.19,2.66-2.66,6.82-5.81,6.82-9.58S22.95,0,19.18,0h0Z" />
                                </g>
                                <g class="heart-fill">
                                    <path class="b"
                                        d="M19.18,0c-2.74,0-5.09,1.24-6.18,3.57C11.91,1.24,9.56,0,6.82,0,3.05,0,0,3.05,0,6.82s4.16,6.92,6.82,9.58c2.34,2.34,6.18,6.19,6.18,6.19,0,0,4.29-4.3,6.18-6.19,2.66-2.66,6.82-5.81,6.82-9.58S22.95,0,19.18,0Z" />
                                </g>
                            </svg>
                        </button>
                    </div>

                    <img alt="temp-alt" src="/img/photo.png" class="parts-item__img">

                    <div class="product__type-hint">
                        аналог
                    </div>

                </div>

                <div class="parts-item__characteristics">
                    <a href="#" class="parts-item__title">
                        Фильтр масляный D4060-JA00A
                    </a>
                    <div class="parts-item__text-wrap">
                        <div class="parts-item__text parts-item__text--black-light parts-item__manufacturer">
                            D4060-JA00A D4060-JA00A D4060-JA00A D4060-JA00A
                        </div>
                        <div class="parts-item__text parts-item__text--black-light parts-item__manufacturer">
                            Geely / Китай
                        </div>
                    </div>
                    <button class="parts-item__button-cart parts-item__button" data-popup="jsByOneClick">
                        купить в 1 клик
                    </button>
                    <div class="parts-item__items">
                        <div class="parts-item__item parts-item__item--start parts-item__item--mb">
                            <svg class="icon parts-item__icon">
                                <use xlink:href="/img/sprite.svg#sprite--car-forward"></use>
                            </svg>
                            <a href="#" data-popup="jsApplicabilityModal" class="parts-item__text">
                                Применяемость
                            </a>
                        </div>
                        <div class="parts-item__item parts-item__item--start">
                            <svg class="icon parts-item__icon">
                                <use xlink:href="/img/sprite.svg#sprite--star"></use>
                            </svg>
                            <a href="#" class="parts-item__text">
                                <span>4,8</span>
                                <div>(9 отзывов)</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="parts-item__list">
                <div class="parts-item__row">
                    <div class="parts-item__box  ">
                        <a href="#" data-popup="jsInStockModal" class="parts-item__text parts-item__text--dotted">
                            В наличии: <span>4 шт.</span>
                        </a>
                    </div>
                    <div class="parts-item__box  ">
                        <div class="parts-item__text">
                            от <span>сегодня</span>
                        </div>
                    </div>
                    <div class="parts-item__wrapper">
                        <div class="parts-item__box  ">
                            <div class="parts-item__text parts-item__text--md">
                                1 201 ₽
                            </div>
                        </div>

                        <div class="quantity-wrapper">


                            @include('components/cart-btn-grey.html')
                        </div>






                    </div>
                </div>
                <div class="parts-item__row">
                    <div class="parts-item__box  ">
                        <a href="#" data-popup="jsInStockModal" class="parts-item__text parts-item__text--dotted">
                            В наличии: <span>4 шт.</span>
                        </a>
                    </div>
                    <div class="parts-item__box  ">
                        <div class="parts-item__text">
                            от <span>сегодня</span>
                        </div>
                    </div>
                    <div class="parts-item__wrapper">
                        <div class="parts-item__box  ">
                            <div class="parts-item__text parts-item__text--md">
                                1 201 ₽
                            </div>
                        </div>
                        <div class="quantity-wrapper">


                            @include('components/cart-btn-grey.html')
                        </div>
                    </div>
                </div>
                <div class="parts-item__row">
                    <div class="parts-item__box  ">
                        <a href="#" data-popup="jsInStockModal" class="parts-item__text parts-item__text--dotted">
                            В наличии: <span>4 шт.</span>
                        </a>
                    </div>
                    <div class="parts-item__box  ">
                        <div class="parts-item__text">
                            от <span>сегодня</span>
                        </div>
                    </div>
                    <div class="parts-item__wrapper">
                        <div class="parts-item__price-box">
                            <div class="parts-item__text parts-item__text--md">
                                1 201 ₽
                            </div>
                            <div class="parts-item__old-price">
                                1971 ₽
                            </div>
                        </div>

                        <div class="parts-item__discount parts-item__discount--green parts-item__discount--ml">
                            –5%
                        </div>
                        <svg class="icon parts-item__discount-icon">
                            <use xlink:href="/img/sprite.svg#sprite--discount"></use>
                        </svg>
                        <div class="quantity-wrapper">


                            @include('components/cart-btn-grey.html')
                        </div>
                    </div>
                </div>
                <div class="parts-item__row">
                    <div class="parts-item__box  ">
                        <a href="#" data-popup="jsInStockModal" class="parts-item__text parts-item__text--dotted">
                            В наличии: <span>4 шт.</span>
                        </a>
                    </div>
                    <div class="parts-item__box  ">
                        <div class="parts-item__text">
                            от <span>сегодня</span>
                        </div>
                    </div>
                    <div class="parts-item__wrapper">
                        <div class="parts-item__price-box">
                            <div class="parts-item__text parts-item__text--md">
                                1 201 ₽
                            </div>
                            <div class="parts-item__old-price">
                                1971 ₽
                            </div>
                        </div>

                        <div class="parts-item__discount parts-item__discount--orange parts-item__discount--ml">
                            –30%
                        </div>
                        <div class="quantity-wrapper">


                            @include('components/cart-btn-grey.html')
                        </div>
                    </div>
                </div>
               
            </div>

        </div>
        <div class="parts-item parts-list__item parts-list__item--on-order">

            <div class="parts-item__wrapper parts-item__wrapper--pb parts-item__main ">
                <div class="parts-item__preview">

                    <div class="parts-item__top">

                        <div class="parts-item__discount">
                            –10%

                        </div>

                        
                        <button class="parts-item__favorite">
                            <svg class="heart__favorite spares-card__favorite" viewBox="0 0 26 26">
                                <g class="heart-fill-back">
                                    <path class="b"
                                        d="M19.18,0c-2.74,0-5.09,1.24-6.18,3.57C11.91,1.24,9.56,0,6.82,0,3.05,0,0,3.05,0,6.82s4.16,6.92,6.82,9.58c2.34,2.34,6.18,6.19,6.18,6.19,0,0,4.29-4.3,6.18-6.19,2.66-2.66,6.82-5.81,6.82-9.58S22.95,0,19.18,0Z" />
                                </g>
                                <g class="heart-stroke" fill="#000000">
                                    <path
                                        d="M19.18,1.8c2.77,0,5.02,2.25,5.02,5.02,0,2.35-2.55,4.76-4.8,6.88-.52,.49-1.03,.97-1.49,1.43-1.23,1.23-3.49,3.49-4.91,4.92-1.33-1.33-3.42-3.43-4.91-4.92-.46-.46-.97-.94-1.49-1.43C4.35,11.58,1.8,9.17,1.8,6.82,1.8,4.05,4.05,1.8,6.82,1.8c2.14,0,3.8,.92,4.55,2.53,.3,.63,.93,1.04,1.63,1.04s1.34-.41,1.63-1.04c.75-1.61,2.41-2.53,4.55-2.53m0-1.8c-2.74,0-5.09,1.24-6.18,3.57C11.91,1.24,9.56,0,6.82,0,3.05,0,0,3.05,0,6.82s4.16,6.92,6.82,9.58c2.34,2.34,6.18,6.19,6.18,6.19,0,0,4.29-4.3,6.18-6.19,2.66-2.66,6.82-5.81,6.82-9.58S22.95,0,19.18,0h0Z" />
                                </g>
                                <g class="heart-fill">
                                    <path class="b"
                                        d="M19.18,0c-2.74,0-5.09,1.24-6.18,3.57C11.91,1.24,9.56,0,6.82,0,3.05,0,0,3.05,0,6.82s4.16,6.92,6.82,9.58c2.34,2.34,6.18,6.19,6.18,6.19,0,0,4.29-4.3,6.18-6.19,2.66-2.66,6.82-5.81,6.82-9.58S22.95,0,19.18,0Z" />
                                </g>
                            </svg>
                        </button>

                       
                    </div>

                    <img alt="temp-alt" src="/img/photo.png" class="parts-item__img">

                    <div class="product__type-hint">
                      Аналог
                    </div>

                </div>

                <div class="parts-item__characteristics">
                    <a href="#" class="parts-item__title">
                        Фильтр масляный D4060-JA00A
                    </a>
                    <div class="parts-item__text-wrap">
                        <div class="parts-item__text parts-item__text--black-light parts-item__manufacturer">
                            D4060-JA00A D4060-JA00A D4060-JA00A D4060-JA00A
                        </div>
                        <div class="parts-item__text parts-item__text--black-light parts-item__manufacturer">
                            Geely / Китай
                        </div>
                    </div>
                 
                    <div class="parts-item__items">
                        <div class="parts-item__item parts-item__item--start parts-item__item--mb">
                            <svg class="icon parts-item__icon">
                                <use xlink:href="/img/sprite.svg#sprite--car-forward"></use>
                            </svg>
                            <a href="#" data-popup="jsApplicabilityModal" class="parts-item__text">
                                Применяемость
                            </a>
                        </div>
                        <div class="parts-item__item parts-item__item--start">
                            <svg class="icon parts-item__icon">
                                <use xlink:href="/img/sprite.svg#sprite--star"></use>
                            </svg>
                            <a href="#" class="parts-item__text">
                                <span>4,8</span>
                                <div>(9 отзывов)</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="parts-item__list">
                <div class="parts-item__row">
                    <div class="parts-item__box  ">
                        <a href="#" data-popup="jsInStockModal" class="parts-item__text parts-item__text--dotted">
                          <b>Под заказ</b>
                        </a>
                    </div>
                    <div class="parts-item__box  ">
                        <div class="parts-item__text">
                           
                        </div>
                    </div>
                    <div class="parts-item__wrapper">
                        <div class="parts-item__box  ">
                            <div class="parts-item__text parts-item__text--md">
                               
                            </div>
                        </div>

                        <button class="parts-item__button parts-item__button--black btn-bell-anim" data-popup="jsOnOrderModal">
                            под заказ
                            <span class="--svg__notification on-order__button-icon bell-anim"></span>
                        </button>





                    </div>
                </div>
          

            </div>

        </div>
        <div class="parts-item parts-list__item">

            <div class="parts-item__wrapper parts-item__wrapper--pb parts-item__main">
                <div class="parts-item__preview">

                    <div class="parts-item__top">

                        <button class="parts-item__favorite">
                            <svg class="heart__favorite spares-card__favorite" viewBox="0 0 26 26">
                                <g class="heart-fill-back">
                                    <path class="b"
                                        d="M19.18,0c-2.74,0-5.09,1.24-6.18,3.57C11.91,1.24,9.56,0,6.82,0,3.05,0,0,3.05,0,6.82s4.16,6.92,6.82,9.58c2.34,2.34,6.18,6.19,6.18,6.19,0,0,4.29-4.3,6.18-6.19,2.66-2.66,6.82-5.81,6.82-9.58S22.95,0,19.18,0Z" />
                                </g>
                                <g class="heart-stroke" fill="#000000">
                                    <path
                                        d="M19.18,1.8c2.77,0,5.02,2.25,5.02,5.02,0,2.35-2.55,4.76-4.8,6.88-.52,.49-1.03,.97-1.49,1.43-1.23,1.23-3.49,3.49-4.91,4.92-1.33-1.33-3.42-3.43-4.91-4.92-.46-.46-.97-.94-1.49-1.43C4.35,11.58,1.8,9.17,1.8,6.82,1.8,4.05,4.05,1.8,6.82,1.8c2.14,0,3.8,.92,4.55,2.53,.3,.63,.93,1.04,1.63,1.04s1.34-.41,1.63-1.04c.75-1.61,2.41-2.53,4.55-2.53m0-1.8c-2.74,0-5.09,1.24-6.18,3.57C11.91,1.24,9.56,0,6.82,0,3.05,0,0,3.05,0,6.82s4.16,6.92,6.82,9.58c2.34,2.34,6.18,6.19,6.18,6.19,0,0,4.29-4.3,6.18-6.19,2.66-2.66,6.82-5.81,6.82-9.58S22.95,0,19.18,0h0Z" />
                                </g>
                                <g class="heart-fill">
                                    <path class="b"
                                        d="M19.18,0c-2.74,0-5.09,1.24-6.18,3.57C11.91,1.24,9.56,0,6.82,0,3.05,0,0,3.05,0,6.82s4.16,6.92,6.82,9.58c2.34,2.34,6.18,6.19,6.18,6.19,0,0,4.29-4.3,6.18-6.19,2.66-2.66,6.82-5.81,6.82-9.58S22.95,0,19.18,0Z" />
                                </g>
                            </svg>
                        </button>
                    </div>

                    <img alt="temp-alt" src="/img/product-none.png" class="parts-item__img">

                    <div class="product__type-hint">
                        аналог
                    </div>
                </div>

                <div class="parts-item__characteristics">
                    <a href="#" class="parts-item__title">
                        Фильтр масляный D4060-JA00A
                    </a>
                    <div class="parts-item__text-wrap">
                        <div class="parts-item__text parts-item__text--black-light parts-item__manufacturer">
                            D4060-JA00A
                        </div>
                        <div class="parts-item__text parts-item__text--black-light parts-item__manufacturer">
                            Geely / Китай
                        </div>
                    </div>

                    <button class="parts-item__button-cart parts-item__button"  data-popup="jsByOneClick">
                        купить в 1 клик
                    </button>
                    <div class="parts-item__items">
                        <div class="parts-item__item parts-item__item--start parts-item__item--mb">
                            <svg class="icon parts-item__icon">
                                <use xlink:href="/img/sprite.svg#sprite--car-forward"></use>
                            </svg>
                            <a href="#" data-popup="jsApplicabilityModal" class="parts-item__text">
                                Применяемость
                            </a>
                        </div>
                        <div class="parts-item__item parts-item__item--start">
                            <svg class="icon parts-item__icon" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M7.55714 0.844972C7.74435 0.487784 8.25565 0.487783 8.44286 0.844971L10.6253 5.0091C10.6978 5.14727 10.8305 5.24373 10.9843 5.2699L15.619 6.05877C16.0166 6.12644 16.1746 6.61272 15.8927 6.90114L12.6068 10.2636C12.4978 10.3752 12.4471 10.5312 12.4697 10.6856L13.1517 15.3372C13.2102 15.7363 12.7965 16.0368 12.4351 15.8579L8.22185 13.7718C8.08205 13.7026 7.91795 13.7026 7.77815 13.7718L3.56488 15.8579C3.20347 16.0368 2.78982 15.7363 2.84831 15.3373L3.53027 10.6856C3.55289 10.5312 3.50219 10.3752 3.39315 10.2636L0.107256 6.90114C-0.1746 6.61272 -0.016598 6.12644 0.380958 6.05877L5.0157 5.2699C5.16949 5.24373 5.30225 5.14727 5.37466 5.0091L7.55714 0.844972Z"
                                    fill="#F1F1F3" />
                            </svg>


                            <div class="parts-item__text">
                                <div>(0 отзывов)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="parts-item__list">
                <div class="parts-item__row">
                    <div class="parts-item__box  ">
                        <a href="#" data-popup="jsInStockModal" class="parts-item__text parts-item__text--dotted">
                            В наличии: <span>4 шт.</span>
                        </a>
                    </div>
                    <div class="parts-item__box  ">
                        <div class="parts-item__text">
                            от <span>сегодня</span>
                        </div>
                    </div>
                    <div class="parts-item__wrapper">
                        <div class="parts-item__box  ">
                            <div class="parts-item__text parts-item__text--md">
                                1 201 ₽
                            </div>
                        </div>
                        <div class="quantity-wrapper">


                            @include('components/cart-btn-grey.html')
                        </div>
                    </div>
                </div>

                <div class="parts-item__row">
                    <div class="parts-item__box  ">
                        <a href="#" data-popup="jsInStockModal" class="parts-item__text parts-item__text--dotted">
                            В наличии: <span>4 шт.</span>
                        </a>
                    </div>
                    <div class="parts-item__box  ">
                        <div class="parts-item__text">
                            от <span>сегодня</span>
                        </div>
                    </div>
                    <div class="parts-item__wrapper">
                        <div class="parts-item__price-box">
                            <div class="parts-item__text parts-item__text--md">
                                1 201 ₽
                            </div>

                        </div>

                        <div class="parts-item__discount parts-item__discount--green parts-item__discount--ml">
                            –5%
                        </div>
                        <svg class="icon parts-item__discount-icon">
                            <use xlink:href="/img/sprite.svg#sprite--discount"></use>
                        </svg>
                        <div class="quantity-wrapper">


                            @include('components/cart-btn-grey.html')
                        </div>
                    </div>
                </div>
                <div class="parts-item__row">
                    <div class="parts-item__box  ">
                        <a href="#" data-popup="jsInStockModal" class="parts-item__text parts-item__text--dotted">
                            В наличии: <span>4 шт.</span>
                        </a>
                    </div>
                    <div class="parts-item__box  ">
                        <div class="parts-item__text">
                            от <span>сегодня</span>
                        </div>
                    </div>
                    <div class="parts-item__wrapper">
                        <div class="parts-item__price-box">
                            <div class="parts-item__text parts-item__text--md">
                                1 201 ₽
                            </div>
                            <div class="parts-item__old-price">
                                1971 ₽
                            </div>
                        </div>

                        <div class="parts-item__discount parts-item__discount--orange parts-item__discount--ml">
                            –30%
                        </div>
                        <div class="quantity-wrapper">


                            @include('components/cart-btn-grey.html')
                        </div>
                    </div>
                </div>
                <div class="parts-item__row">
                    <div class="parts-item__box parts-item__text--dotted ">
                        <div class="parts-item__text">
                            На складах: <span>4 шт.</span>
                        </div>
                    </div>
                    <div class="parts-item__box  ">
                        <div class="parts-item__text">
                            от <span>17 марта, пт</span>
                        </div>
                    </div>
                    <div class="parts-item__wrapper">
                        <div class="parts-item__text parts-item__text--md">
                            от 1 305 ₽
                        </div>

                        <button class="parts-item__button parts-item__button--grey" data-popup="jsSuppliersModal">
                            показать
                            <svg class="parts-item__button-icon">
                                <use xlink:href="/img/sprite.svg#sprite--arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>

            </div>

        </div>




    </div>
</div>

<div class="wrapper-load-more-button">
    <div class="js-preloader-arrows js-preloader-arrows-load-more"></div>
    <button class="button button--white load-more-button button-anim button-anim--white">
        Загрузить еще
    </button>
</div>


