<div class="product-types__item">
    <h3 class="product-name">
        @title
    </h3>

    <ul class="product-links">
        <li>
            <a href="catalog-sop-products.html"> Антискрипная паста</a>
        </li>
        <li>
            <a href="catalog-sop-products.html">Графитная смазка</a>
        </li>
        <li>
            <a href="catalog-sop-products.html">Медная смазка</a>
        </li>

        <li class="mobile-only">
            <a href="#">Свернуть</a>
        </li>

    </ul>
    <img alt="temp-alt" src="/img/products/p@id.png" class="product-img">
</div>