<div class="shops-wrapper">
    <div class="shops">
        <div class="shops__content">
            <h3 class="shops__title">
                Магазины и СТО
    
                <a href="#" class="shops-link">Все магазины</a>
            </h3>
    
            <div class="shops__text">
                Наши магазины представлены в 40 городах
            </div>
    
            <div class="shops__types">
                <div class="shops__type">
                    Доступно 100 магазинов
                </div>
                <div class="shops__type">
                    Доступно 26 автосервисов
                </div>
            </div>
    
            <a href="" class="button">
                Все магазины и СТО
            </a>
        </div>
    
        <div class="shops__map map-filter">
            <img alt="temp-alt" src="/img/contact-map.svg">
        </div>
    </div>
</div>
