.product__bottom-panel{
    position: fixed;
    bottom: 70px;
    left: 0;
    width: 100%;
    background: #F1F1F3;
    padding: 16px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    &.by-order{
        grid-template-columns: 150px 1fr;
    }
    grid-gap: 20px;
    z-index: 21;

   
    @media(min-width: 768px){
        display: none;
    }

    @media(max-width: 360px){
        grid-gap: 10px;
    }

    .col{
        display: flex;
        flex-direction: column;
        b{
            display: inline-block;
        }
    }

    .price{
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        white-space: nowrap;
        &--old{
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            text-decoration-line: line-through;
            color: rgba(45, 39, 39, 0.7);
            margin-top: 8px;
            white-space: nowrap;
        }

        .discount{
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: #E60000;
            display: inline-block;
            margin-right: 8px;
            margin-top: 8px;
            white-space: nowrap;
        }
    }

    .buttons-anim, .btn-bell-anim{
        width: 104px !important;
        min-width: 104px !important;
        height: 48px;
        margin-left: auto;
        margin-bottom: 0;
    }

    .btn-bell-anim{
        padding-left: 0;
        padding-right: 0;
    }

    

    .in-stock{
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: rgba(45, 39, 39, 0.7);
       span{
        white-space: nowrap;
       }
    }
}