// Переменные
$color_1: #2D2727;
$color_2: #e60000;
$color_3: #A7A9B9;
$color_4: #2D2727;
$color_5: #c90202;
$color_6: rgba(45, 39, 39, 0.7);
$color_7: #a7a9b9;
$color_8: #fff;
$color_9: #F1F1F3;
$color_10: #000;
$color_11: #222;
$color_15: #4D4F5B;
$color_17: #141415;
$color_18: #c1c1c3;
$font-family: Montserrat, sans-serif;
$border-color_1: rgba(0, 0, 0, 0.7);
