.page-anim {
	svg.js-cart-anim {
		width: 1.5rem!important;
		height: 1.5rem!important;
		cursor: pointer;
		transition: all 0.3s ease 0s;
	}
	svg.js-cart-anim:hover {
  transform: scale(1.1);
}
svg.js-cart-anim path {
  transition: all 0.3s ease 0s;
}
svg.js-cart-anim g {
  transition: all 0.3s ease 0s;
}
svg.js-cart-anim:hover g {
  transform: rotate(7deg);
  transform-origin: 100% 100%;
}
svg.js-cart-anim:hover path:nth-child(3),
svg.js-cart-anim:hover path:nth-child(4),
svg.js-cart-anim:hover path:nth-child(5) {
  transform: translate(0, 0);
  transform-origin: 100% 100%;
}
.header__logo {
	transform: translate(0, -4px);
	@media (max-width: 1440px){
		transform: translate(0, 0px);
	}
	@media (max-width: 991px){
		transform: translate(0, -6px);
	}
}
.preloader-arrows__back {
	background-color: rgba($color: #000000, $alpha: 0.2)!important;
}
.preloader-arrows.preloader-arrows-big {
	&::before,&::after{
		background-color: red;
	}
}
@media (min-width: 991px) {
  .preloader-arrows__back {
	  background-color: #ffffff !important;
    pointer-events: none !important;
    animation: 4s forwards preloader-arrows-back !important;
  }
  .preloader-arrows.preloader-arrows-big {
    pointer-events: none !important;
    opacity: 1 !important;
    animation: none !important;
    transition: transform 0.7s ease 0s !important;
    transform: translate(-50%, -50%) scale(10) !important;
    width: 35rem !important;
    height: 30rem !important;
    &::before,
    &::after {
		 top: 300%!important;
      width: 100% !important;
      height: 100% !important;
      animation: none !important;
      background-color: red !important;
      transform: translate(0, 0) !important;
      transition: transform 0.7s ease 0.7s,opacity 0.7s ease 0.7s,top 0s ease 0.7s !important;
      opacity: 1 !important;
    }
    &::before {
      transform: translate(-70%, 40%) !important;
    }
    &::after {
      transform: translate(70%, -40%) !important;
    }
    &.js-preloader-arrows-big-new {
      transform: translate(-50%, -50%) scale(1) !important;
		top: 50%!important;
      &::before,
      &::after {
			top: 0!important;
			opacity: 0 !important;
      }
      &::before {
        transform: translate(-100%, 40%) !important;
      }
      &::after {
        transform: translate(100%, -40%) !important;
      }
    }
  }
}
.header__box-hv {
	min-height: 100%;
	transition: all 0.3s ease 0s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	&:hover{
		opacity: 0.7;
		.header__basket-button {
			background-color: #2d2727;
		}
		.header__question-button.jsExpertButton {
			background-color: #504f55;
		}
	}
	>* {
		flex: 1 1 auto;
		min-height: 100%;
	}
}
/* .header__box-item {
	&:hover{
		animation: header__box-item 0.7s forwards;
	}
	@keyframes header__box-item {
		0% {
			opacity: 1;
			
		}
		100% {
			opacity: 0.7;
			
		}
	}

}
.header__basket-button {
	&:hover{
		animation: header__basket-button-hv 0.7s forwards;
	}
	@keyframes header__basket-button-hv {
		0% {
		background-color: rgba($color: #2d2727, $alpha: 1);
			
		}
		100% {
		background-color: rgba($color: #2d2727, $alpha: 0.7);
			
		}
	}
} */
@media (max-width: 991px) {
  .main-menu.jsMainMenu {
    top: 0;
	 transition: all 0.7s ease 0.7s;
    &.open {
      top: 3.062rem;
    }
  }
  .header__logo {
    position: absolute;
    left: 2.5rem;
    top: 50%;
    transition: all 0.7s ease 0s;
    transform: translate(0, -58%);
    opacity: 1;
    &.header__logo--active {
      top: 150%;
      opacity: 0;
    }
  }
  .header__city-box {
    position: absolute;
	 width: auto;
    top: 50%;
	 left: 2.5rem;
	 white-space: nowrap;
    transform: translate(0, -50%)!important;
    display: flex !important;
    > * {
		 opacity: 0;
      transition: all 0.7s ease 0s;
      transform: translate(0, -150%);
    }
    &.header__city--active {
      > * {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }
}
@media (max-width: 768px) {

	.header__top.visible{
		.header__row{
			position: static;
		}
		.header__city-box {
			z-index: 1002;
			left: 0;
			top: 0;
			transform: none !important;
			transition: none !important;
		}
	}

	.header__top {
		overflow: hidden;
		.dropdown__city{
			transition: none;
		}
		.header__city-box {
			transition: none !important;
		}
	}
	.header__top.visible{
		overflow: visible !important;
	}
  .header__logo {
    position: absolute;
    left: 2.5rem;
    top: 50%;
    transition: all 0.7s ease 0s;
    transform: translate(0, -50%);
    opacity: 1;
    &.header__logo--active {
      top: 150%;
      opacity: 0;
	}
}
.header__city-box {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	display: flex !important;
	> * {
      opacity: 0;
      transition: all 0.7s ease 0s;
      transform: translate(0, -150%);
    }
    &.header__city--active {
      > * {
			opacity: 1;
        transform: translate(0, 0);
      }
    }
  }
  .header__logo-mob {
	z-index: 1001;
  }
}
.header__auth {
	z-index: 999;
}
.header__box.favorite-box {
  .header__name {
	  .heart__favorite {
      width: 24px;
      height: 24px;
      margin-right: 15px;
      animation: none;
      @media (max-width: 991px) {
			width: 16px;
			height: 16px;
			margin-right: 8px;
      }
      .heart-fill-back {
      }
    }
	}
  &:hover {
    .heart__favorite {
      .heart-fill-back {
        animation: heart__favorite-fill 0.3s ease forwards;
      }
    }
	}
  @keyframes heart__favorite-fill {
	  0% {
		  fill: transparent;
	}
	100% {
        fill: red;
	}
  }
}

.header__city-box {
  z-index: 1000;
}

.burger-menu-wrapper {
	width: 1.5rem;
  height: 1.5rem;
  position: relative;
  margin-right: 1rem;
}
.jsMenuButton.burger-menu {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  margin: 0;
  &.show-main {
	  opacity: 1 !important;
	  width: 0;
    height: 0;
    transition: height 0.3s ease 1.8s, width 0.3s ease 1.5s;
    /* span {
			top: 50%;
			bottom: auto;
			left: 50%;
			transition: top 0.3s ease 1.8s, width 0.3s ease 1.5s;

			&:nth-child(1){
				transform: translate(-50%, 0%);
			}
			&:nth-child(2){
				transform: translate(-50%, -50%);
			}
			&:nth-child(3){
				transform: translate(-50%, -100%);
			}
		} */
    &.show-main-active {
      width: 100%;
      height: 100%;
      /* span {
				width: 100%;
				&:nth-child(1){
					top: 0;
				}
				&:nth-child(3){
					top: 100%;
				}
			} */
    }
  }
}

.accordion__content--new {
  max-height: none !important;
  opacity: 1 !important;
  height: auto;
}
.accordion__overhead--new {
  &.active {
    .accordion__plus {
      &::after {
        content: "";
        height: 0;
      }
    }
  }
}

.header__search-box {
  .header__search-icon,
  .header__search::placeholder {
    transition: all 0.2s ease 0s;
  }
  &:hover {
    .header__search-icon {
      opacity: 0.5;
      transform: scale(1.2);
    }
    .header__search::placeholder {
      color: #000000;
    }
  }
}

.cart__popup {
  transition: all 0.7s ease 0.7s !important;
  .cart__popup-content {
    transform: translate(20%, 0);
    opacity: 0;
    transition: all 0.7s ease 0.7s;
  }
  .cart__popup-footer {
    opacity: 0;
    transition: all 0.7s ease 0.7s;
  }
  &.opened {
    transition: all 0.7s ease 0s !important;
    .cart__popup-content {
      transition: all 0.7s ease 0.3s;
      transform: translate(0, 0);
      opacity: 1;
      &:nth-child(3) {
        transition: all 0.7s ease 0.5s;
      }
      &:nth-child(4) {
        transition: all 0.7s ease 0.7s;
      }
    }
    .cart__popup-footer {
      opacity: 1;
      transition: all 0.7s ease 0.9s;
    }
  }
}
.cart__popup-header .close {
  //background-size: 100% 100%;
	background-size: contain;
	transition: transform 0.5s linear, height 0.5s linear;

  &:hover {
	  transform: rotate(270deg);
	  height: rem(20px);
  }
  &.scale {
    animation: close-scale 0.5s ease;
  }
  @keyframes close-rotate {
    0% {
      transform: rotate(0);
    }
    100% {
		transform: rotate(270deg);
    }
  }
  @keyframes close-scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }
}

.show-main {
  opacity: 0;
  &.show-main-active {
    opacity: 1;
  }
}

.header {
  .show-main {
    transform: translate(0, -10px);
    transition: opacity 1s ease 2.5s, transform 1.5s ease 2.5s;
    @media (max-width: 768px) {
      transition: opacity 1s ease 2s, transform 1.5s ease 2s;
    }
    &.show-main-active {
      transform: translate(0, 0);
    }
  }
}
.header__question-button.jsExpertButton {
  &.show-main {
    opacity: 0;
    transition: clip-path 1s ease 2s, opacity 1s ease 2s;
    clip-path: polygon(100% 0, 20% 0, 20% 100%, 100% 100%);
    &.show-main-active {
      clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
      opacity: 1;
    }
    .show-main {
      transition: opacity 0.7s ease 2.3s, transform 1s ease 2.1s;
    }
  }
}
.header__basket-button {
  &.show-main {
    opacity: 0;
    transition: clip-path 1s ease 2s, opacity 1s ease 2s;
    clip-path: polygon(100% 0, 20% 0, 20% 100%, 100% 100%);
    &.show-main-active {
      clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
      opacity: 1;
    }
    .show-main {
      transition: opacity 0.7s ease 2.7s, transform 1s ease 2.1s;
    }
  }
}

.main-page {
  .entry-block__title {
    &.show-main {
      span {
        display: inline-block;
        opacity: 0;
        &:first-child {
          transition: all 0.7s ease 3s;
          transform: translate(0, -10px);
          @media (max-width: 768px) {
            transition: all 0.7s ease 2.5s;
          }
        }
        &:last-child {
          transition: all 0.7s ease 3.2s;
          transform: translate(0, -15px);
          @media (max-width: 768px) {
            transition: all 0.7s ease 2.7s;
          }
        }
      }
      &.show-main-active {
        span {
          opacity: 1;
          transform: translate(0, 0);
        }
      }
    }
  }

  .entry-block__benefit-item {
    &.show-main {
      svg {
        display: inline-block;
        opacity: 0;
        transform: translate(10px, 0);
      }
      &.show-main-active {
        svg {
          opacity: 1;
          transform: translate(0, 0);
        }
      }
    }
    &:nth-child(1),
    &:nth-child(2) {
      &.show-main {
        svg {
          display: inline-block;
          opacity: 0;
          transform: translate(10px, 0);
          transition: all 1s ease 3.5s;
        }
        .entry-block__benefit-text {
          opacity: 0;
          transform: translate(10px, 0);
          transition: all 1s ease 3.7s;
        }
        &.show-main-active {
          svg {
            opacity: 1;
            transform: translate(0, 0);
          }
          .entry-block__benefit-text {
            opacity: 1;
            transform: translate(0, 0);
          }
        }
      }
    }
    &:nth-child(3),
    &:nth-child(4) {
      &.show-main {
        svg {
          display: inline-block;
          opacity: 0;
          transform: translate(10px, 0);
          transition: all 1s ease 3.8s;
        }
        .entry-block__benefit-text {
          opacity: 0;
          transform: translate(10px, 0);
          transition: all 1s ease 4s;
        }
        &.show-main-active {
          svg {
            opacity: 1;
            transform: translate(0, 0);
          }
          .entry-block__benefit-text {
            opacity: 1;
            transform: translate(0, 0);
          }
        }
      }
    }
  }

  .entry-block__benefit-catalog-link {
    &.show-main {
      animation: entry-block__benefit-catalog-link 1s ease 5.2s forwards;
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
      span {
        opacity: 0;
        transition: opacity 0.7s ease 5.5s;
      }
      &.show-main-active {
        span {
          opacity: 1;
        }
      }
    }
  }
  @keyframes entry-block__benefit-catalog-link {
    0% {
      clip-path: polygon(0 0, 0 0, 0 5%, 0 5%);
    }
    50% {
      clip-path: polygon(100% 0, 0 0, 0 5%, 100% 5%);
    }
    100% {
      clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
  }

  .entry-block__engine-desc {
    span {
      display: block;
      transform: translate(0, -15px);
      opacity: 0;
    }
    svg {
      opacity: 0;
    }
  }
  .entry-block__engine-desc1 {
    span {
      animation: entry-block__engine-desc-span 6s ease 5.5s infinite;
    }
    svg {
      animation: entry-block__engine-desc1-svg 6s ease 5.5s infinite;
    }
  }
  .entry-block__engine-desc2 {
    span {
      animation: entry-block__engine-desc-span 6s ease 6s infinite;
    }
    svg {
      animation: entry-block__engine-desc2-svg 6s ease 6s infinite;
    }
  }
  .entry-block__engine-desc3 {
    span {
      animation: entry-block__engine-desc-span 6s ease 6.5s infinite;
    }
    svg {
      animation: entry-block__engine-desc3-svg 6s ease 6.5s infinite;
    }
  }
  @keyframes entry-block__engine-desc-span {
    0% {
      opacity: 0;
      transform: translate(0, -15px);
    }
    30% {
      opacity: 0;
      transform: translate(0, -15px);
    }
    40% {
      opacity: 1;
      transform: translate(0, 0px);
    }
    90% {
      transform: translate(0, 0px);
      opacity: 1;
    }
    100% {
      transform: translate(0, 0px);
      opacity: 0;
    }
  }

  @keyframes entry-block__engine-desc1-svg {
	  0% {
      opacity: 0;
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
	}
    10% {
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      opacity: 1;
    }
    15% {
		 clip-path: polygon(25% 0, 0 0, 0 100%, 25% 100%);
		}
    20% {
		 clip-path: polygon(25% 0, 0 0, 0 100%, 25% 100%);
		}
    30% {
		 clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
		}
    90% {
      opacity: 1;
	}
	99% {
      clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
    100% {
      opacity: 0;
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
	}
	@keyframes entry-block__engine-desc2-svg {
    0% {
      opacity: 0;
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
	}
	10% {
		opacity: 1;
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
	}
	15% {
		clip-path: polygon(100% 0, 75% 0, 75% 100%, 100% 100%);
	}
    20% {
      clip-path: polygon(100% 0, 75% 0, 75% 100%, 100% 100%);
	}
	30% {
      clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
	}
	90% {
      opacity: 1;
    }
    99% {
      clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
    100% {
      opacity: 0;
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
  }
  @keyframes entry-block__engine-desc3-svg {
    0% {
      opacity: 0;
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
    10% {
      opacity: 1;
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
    15% {
      clip-path: polygon(100% 0, 75% 0, 75% 100%, 100% 100%);
    }
    20% {
      clip-path: polygon(100% 0, 75% 0, 75% 100%, 100% 100%);
    }
    30% {
      clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
	}
    90% {
      opacity: 1;
    }
    99% {
      clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
    100% {
      opacity: 0;
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
  }

  #part-search-trigger.entry-block__part-search {
    transform: scale(0.8);
    opacity: 0;
    animation: entry-block__part-search 6s ease 6.5s forwards , entry-block__part-search-zoom 6s ease 6.5s forwards, entry-block__part-search-zoom2 6s ease 12.5s infinite;
    svg {
		 display: block;
      transform: translate(0, -50%);
      opacity: 0;
      animation: entry-block__part-search-svg 6s ease 6.7s forwards, entry-block__part-search-svg2 6s ease 12.7s infinite;
	}
    span {
		 opacity: 0;
		 animation: entry-block__part-search-span 6s ease 6.5s forwards,entry-block__part-search-span2 6s ease 12.5s forwards;
		}
		@keyframes entry-block__part-search-svg {
			0% {
				transform: translate(0, -50%);
				opacity: 0;
			}
      7% {
        opacity: 1;
        transform: translate(0, -70%);
      }
      9% {
			transform: translate(0, 0);
      }
      11% {
			transform: translate(0, -20%);
      }
      13% {
			transform: translate(0, 0%);
      }
      15% {
			transform: translate(0, -7%);
      }
      17% {
        transform: translate(0, 0%);
      }
      90% {
        transform: translate(0, 0);
        opacity: 1;
      }
      100% {
        opacity: 1;
      }
	}
	  @keyframes entry-block__part-search-svg2 {
		  0% {
			  transform: translate(0, 0);
			  opacity: 1;
		  }
		  100% {
			  transform: translate(0, 0);
			  opacity: 1;
		  }
	  }
	@keyframes entry-block__part-search-span {
      0% {
        opacity: 0;
      }
      20% {
        opacity: 0;
      }
      30% {
			opacity: 1;
      }
      95% {
			opacity: 1;
      }
      100% {
        opacity: 1;
      }
	}
	@keyframes entry-block__part-search-span2 {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 1;
		}
	}
}
  @keyframes entry-block__part-search {
    0% {
      opacity: 0;
    }
    7% {
	 opacity: 1;
    }
	93% {
      opacity: 1;
	}
	100% {
      opacity: 1;
	}
}

	@keyframes entry-block__part-search-zoom {
		0% {
			transform: scale(0.8);
		}
		7% {
			transform: scale(1.1);
		}
		12% {
			transform: scale(1);
		}
		86% {
			transform: scale(1);
		}
		93% {
			transform: scale(1.1);
		}
		100% {
			transform: scale(1);
		}
	}

	@keyframes entry-block__part-search-zoom2 {
		0% {
			transform: scale(1);
			opacity: 1;
		}
		7% {
			transform: scale(1.1);
		}
		12% {
			transform: scale(1);
		}
		86% {
			transform: scale(1);
		}
		93% {
			transform: scale(1.1);
		}
		100% {
			transform: scale(1);
			opacity: 1;
		}
	}


	.cars {
    &.show-main {
		 opacity: 1;
		 transition: all 1.2s ease 2s;
		 transform: translate(0, 150px);
		@media screen and (max-width: 768px){
			transform: translate(0, 0);
		}
      &.show-main-active {
			transform: translate(0, 0);
      }
      .cars__slider {
			display: flex!important;
			.swiper-wrapper {
				transition-timing-function: linear !important;
          .swiper-slide {
            width: auto;
            display: inline-block;
            flex: 0 0 auto;
          }
        }
        a.show {
			  opacity: 0;
			  &.show-active {
				  opacity: 1;
          }
          &:nth-child(1) {
				 transition: all 1s ease 0s;
          }
          &:nth-child(2) {
            transition: all 1s ease 0.3s;
			}
          &:nth-child(3) {
				 transition: all 1s ease 0.6s;
          }
          &:nth-child(4) {
            transition: all 1s ease 0.9s;
          }
          &:nth-child(5) {
            transition: all 1s ease 1.2s;
          }
          &:nth-child(6) {
            transition: all 1s ease 1.5s;
          }
        }
      }
    }
  }
}




	.entry-block{
		position: relative;
	}
	.entry-block__left{
		z-index: 2;
	}
	.entry-block__right{
		z-index: 1;
		background: none;
	}
	.show-main{
		position: relative;
		z-index: 1;
	}

	.entry-block__video{
		position: absolute;
		object-fit: contain;
		height: auto;
		width: rem(1750px);
		bottom: rem(-366px);
		left: rem(-548px);
		@media(max-width: 991px){
			width: 840px;
			left: -365px;
			bottom: -174px;
		}
		@media(max-width: 600px){
			width: 640px;
			left: -326px;
			bottom: -134px;
			z-index: -1;
		}
		video{
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	.sales__slider-container--blog {
		.product__slider-title {
			&.product__slider-tabs{
				display: flex;
				align-items: baseline;
				flex-wrap: wrap;
				.product__slider-tab{
					&:not(.active){
						color: rgba(167, 169, 185, 0.5);
						margin-left: rem(36px);
						transition: color 0.3s;
						@media(max-width: 768px) {
							margin-left: 18px;
						}
						&:hover{
							color: #e60000;
							cursor: pointer;
						}
					}
					&.active{
						order: -1;
					}
				}
			}
		}
	}
	.product__slider-next:not(.swiper-button-disabled):hover{
		background-image:  url("data:image/svg+xml;charset=UTF-8,%3csvg width='48' height='16' viewBox='0 0 48 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M46.7071 8.70711C47.0976 8.31658 47.0976 7.68342 46.7071 7.29289L40.3431 0.928932C39.9526 0.538408 39.3195 0.538408 38.9289 0.928932C38.5384 1.31946 38.5384 1.95262 38.9289 2.34315L44.5858 8L38.9289 13.6569C38.5384 14.0474 38.5384 14.6805 38.9289 15.0711C39.3195 15.4616 39.9526 15.4616 40.3431 15.0711L46.7071 8.70711ZM2 9H46V7H2V9Z' fill='%23e60000'/%3e%3c/svg%3e ");
	}
	.product__slider-prev:not(.swiper-button-disabled):hover{
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='48' height='16' viewBox='0 0 48 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.29289 8.70711C0.902369 8.31658 0.902369 7.68342 1.29289 7.29289L7.65685 0.928932C8.04738 0.538408 8.68054 0.538408 9.07107 0.928932C9.46159 1.31946 9.46159 1.95262 9.07107 2.34315L3.41421 8L9.07107 13.6569C9.46159 14.0474 9.46159 14.6805 9.07107 15.0711C8.68054 15.4616 8.04738 15.4616 7.65685 15.0711L1.29289 8.70711ZM46 9H2V7H46V9Z' fill='%23e60000'/%3e%3c/svg%3e ");
	}


	.sale__grid-item-more{
		font-weight: 600;
		font-size: 1rem;
		line-height: 2rem;
		letter-spacing: .02em;
		text-transform: uppercase;
		color: #e60000;
		margin-top: rem(20px);
		display: inline-block;
		opacity: 0;
		transition: opacity 0.3s ease;
	}
	.sale__grid-item:hover{
		.sale__grid-item-more{
			opacity: 1;
		}
	}

	.product__slider-navs{
		.product__slider-nav{
			@media screen and (max-width: 991px){
				display: none !important;
			}
		}
	}


	.cars{
		&__list-items{
			ul{
				li{
					.cars__list-item-hover{
						pointer-events: none;
					}
				}

				li:hover .cars__list-item-hover{
					transition: none;
					visibility: hidden;
					opacity: 0;
				}
				li.active .cars__list-item-hover{
					transition: all 0.4s ease-out;
					visibility: visible;
					opacity: 1;
				}
				li.hidden .cars__list-item-hover{
					opacity: 0;
				}
			}
		}
	}

}